@charset "UTF-8";
/* File...extend-color */
/* File...fontfamily */
/* File...box-sizing */
/* BOX　SIZING
----------------------------------------------------*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESET `PADDING` AND `MARGIN` OF ALL ELEMENTS
----------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
}

/* HEADER NAV BOX　SIZING
----------------------------------------------------*/
/* RESET `PADDING` AND `MARGIN` OF ALL ELEMENTS
REMOVE:2018/2/14
----------------------------------------------------*/
/* File...common */
.vertical {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

/*.none {
	display: none;
}
.loader {
	display: flex;
	align-items: center;
	max-height: 100vh;
	overflow: hidden;
}*/
/*'display':'flex','align-items':'center','overflow':'hidden'});*/
/* File...share-base */
html, body {
  color: #282828;
  background: #fff;
  position: relative;
  font-size: 16px;
  font-family: "Lato", "Noto Sans JP", system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: #4C678B;
}

a:hover, a:active, a:focus {
  color: #3D446F;
  transition-duration: 1s;
}

nav a {
  color: #fafafa;
}

nav a:hover, nav a:active, nav a:focus {
  color: #666;
  text-decoration: none;
}

.drawer-menu {
  padding-bottom: 2rem;
}

.drawer-menu li {
  display: block;
  padding: .75rem;
}

.drawer-menu li:last-of-type {
  padding-bottom: 3rem;
}

a.drawer-brand {
  display: inline-block;
  background: url(../img/kyoudou.png) no-repeat;
  background-position: center center;
  width: 160px;
  height: 50px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a:hover.drawer-brand {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

footer {
  width: 100%;
  background: #282828;
  color: #f5f5f5;
  text-align: center;
  padding-top: 2rem;
}

footer address {
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.7;
  margin-bottom: 4rem;
}

footer small {
  color: #aaa;
  line-height: 1;
}

footer h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

footer h2 a {
  background: url(../img/logo-transparent.png) no-repeat;
  background-position: center top;
  background-size: 200px;
  display: inline-block;
  width: auto;
  color: #f5f5f5;
  padding-top: 130px;
}

footer h2 a:hover, footer h2 a:active, footer h2 a:focus {
  background: url(../img/logo-onwhite.png) no-repeat;
  background-position: center top;
  background-size: 200px;
  color: #aaa;
  text-decoration: none;
}

/* File...base */
/* HEADER
----------------------------------------------------*/
header {
  position: relative;
  background: #000 url(../img/logo-onwhite.png) no-repeat;
  background-position: center center;
  background-size: auto 180px;
  height: 180px;
  text-align: center;
  color: #fafafa;
}

header h1 {
  height: 140px;
  line-height: 1;
}

header h1 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 135px;
}

header h1 a:hover, header h1 a:active, header h1 a:focus {
  background: #aaa;
  background-size: auto 180px;
  mix-blend-mode: multiply;
}

/* FIRST VISUAL NAV
----------------------------------------------------*/
nav.main-nav {
  position: relative;
  z-index: 10;
}

nav.main-nav ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  height: 40px;
  display: flex;
  justify-content: center;
}

nav.main-nav li {
  padding: 0 1rem;
}

/* 2ND NAV BAR
----------------------------------------------------*/
.nav-bar {
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  display: none;
  height: 60px;
}

.nav-bar h1 {
  background: url(../img/logo-onwhite.png) no-repeat;
  background-position: center left;
  width: 290px;
  height: 60px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-bar h1 a {
  display: block;
  width: 290px;
  height: 60px;
}

.nav-bar h1 a:hover, .nav-bar h1 a:active, .nav-bar h1 a:focus {
  background: url(../img/logo-transparent.png) no-repeat;
  background-position: center center;
}

.nav-bar ul {
  list-style: none;
  font-size: 1.2rem;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar li {
  padding: 0 1rem;
}

.nav-bar a {
  color: #fafafa;
}

.nav-bar a:hover, .nav-bar a:active, .nav-bar a:focus {
  color: #666;
  text-decoration: none;
}

.frontFoot {
  padding-top: 2rem;
}

.frontFoot h1 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.frontFoot h1 a {
  background: url(../img/logo.png) no-repeat;
  background-position: center top;
  background-size: 200px;
  display: inline-block;
  width: auto;
  color: #f5f5f5;
  padding-top: 130px;
}

.frontFoot h1 a:hover, .frontFoot h1 a:active, .frontFoot h1 a:focus {
  background: url(../img/logo-onwhite.png) no-repeat;
  background-position: center top;
  background-size: 200px;
  color: #aaa;
  text-decoration: none;
}

.frontFoot small {
  display: block;
  margin-top: 4rem;
}

/* File...wapper */
.wrapper {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  line-height: 1.7;
}

.wf5 {
  background: #f5f5f5;
}

@media (max-width: 63em) {
  .container {
    width: 100%;
  }
}

@media (min-width: 64em) {
  .container {
    width: 940px;
  }
}

/* File...pages-section */
.newsFront {
  background: url(../img/front-header.png) no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
}

.newsFront article {
  position: relative;
  text-align: center;
}

.newsFront article:nth-of-type(1) {
  color: #fafafa;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: left;
  line-height: 2;
  text-shadow: 0 2px 5px #000;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
}

.newsFront article:nth-of-type(1) span {
  -ms-text-combine-horizontal: all;
  -webkit-text-combine: horizontal;
  text-combine-upright: all;
}

.postFront {
  margin-top: 80px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.postFront article {
  background: #f5f5f5;
  position: relative;
}

.postFront h2 {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem;
  position: relative;
}

.postFront section section {
  padding: 1rem;
}

.postFront section section p {
  margin: 0 0 1rem;
}

.postFront article:before, .postFront article:after {
  position: absolute;
  content: " ";
  background: #f5f5f5;
  top: 0;
  bottom: 0;
}

.postFront article h2:before, .postFront article h2:after {
  position: absolute;
  content: " ";
}

.postFront article h2:before {
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
  top: 0;
  bottom: 0;
  box-shadow: -2px -1px 2px rgba(40, 40, 40, 0.2);
}

.postFront article h2:after {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  height: 1px;
}

.postFront article:nth-child(odd) h2:after {
  width: 100%;
}

.postFront article:nth-child(even) h2:before {
  left: 0;
  width: 1500px;
}

.postFront article:nth-child(even) h2:after {
  left: 1rem;
  width: 320%;
}

@media (max-width: 63em) {
  .newsFront {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .newsFront article {
    width: 100%;
  }
  .newsFront article:nth-of-type(1) {
    color: #fafafa;
    font-size: 26px;
  }
  .newsFront article:nth-of-type(1) p {
    padding: 4rem 2rem;
  }
  .postFront article {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }
  .postFront h2 {
    width: 100%;
  }
  .postFront img {
    width: 100%;
  }
}

@media (min-width: 64em) {
  .newsFront {
    flex-direction: row;
  }
  .newsFront article {
    width: 50%;
    text-align: center;
    padding: 4rem 0;
  }
  .newsFront article:nth-of-type(1) {
    font-size: 2.5rem;
    text-align: left;
    line-height: 2;
    text-shadow: 0 2px 5px #000;
    font-family: "Noto Serif JP", serif;
    font-weight: 500;
  }
  .newsFront article:nth-of-type(1) p {
    text-align: left;
    padding: 5rem 10rem 0;
  }
  .postFront {
    padding-top: 40px;
  }
  .postFront article {
    width: 940px;
    margin: 0 auto 80px;
  }
  .postFront img {
    width: 460px;
  }
  .postFront h2 {
    margin-top: -40px;
  }
  .postFront article:nth-child(odd) {
    z-index: 1;
  }
  .postFront article:nth-child(odd):before {
    z-index: -1;
    left: -500px;
    width: 1000px;
  }
  .postFront article:nth-child(odd) img {
    margin-right: 10px;
  }
  .postFront article:nth-child(odd) img:nth-of-type(2) {
    position: absolute;
    top: 10px;
  }
  .postFront article:nth-child(odd) h2:before {
    left: -200%;
    width: 300%;
  }
  .postFront article:nth-child(odd) h2:after {
    width: 100%;
    left: -225%;
    width: 320%;
  }
  .postFront article:nth-child(odd) section section {
    padding: 1rem 1rem 2rem 0;
  }
  .postFront article:nth-child(even) {
    text-align: right;
    z-index: 1;
  }
  .postFront article:nth-child(even):after {
    z-index: -3;
    left: 50%;
    width: 100%;
    display: block;
  }
  .postFront article:nth-child(even) h2:before {
    width: 1500px;
  }
  .postFront article:nth-child(even) h2:after {
    left: 1rem;
    width: 320%;
  }
  .postFront article:nth-child(even) img:nth-of-type(1) {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .postFront article:nth-child(even) section section {
    text-align: left;
    padding: 1rem 0 2rem 1rem;
  }
  .postFront article:nth-child(even) section section p {
    margin: 0 0 1rem;
  }
}

/* File...time-stamp */
.blog-card {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 1.7;
}

.blog-card a {
  display: block;
  color: #282828;
}

.blog-card a:hover, .blog-card a:active, .blog-card a:focus {
  background: rgba(255, 255, 255, 0.8);
}

.blog-card a:hover time, .blog-card a:active time, .blog-card a:focus time {
  background: #000;
}

time {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: inline-flex;
  font-weight: 300;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  padding: auto 0;
  background: rgba(0, 0, 0, 0.85);
  color: #f5f5f5;
}

time span:nth-of-type(2) {
  font-size: 2rem;
  padding: 0.5rem 0;
}

time span {
  width: 100%;
  line-height: 1;
}

@media (max-width: 63em) {
  .blog-card {
    width: 90%;
    margin: 2rem auto;
  }
  .blog-card div {
    padding: 1rem 1rem 1rem 6rem;
  }
}

@media (min-width: 64em) {
  .blog-card {
    width: 70%;
    margin: 3rem auto 0;
  }
  .blog-card div {
    min-height: 7rem;
    padding: 2rem 2rem 2rem 7rem;
  }
}

/* File...common-section.scss */
.fixed {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.contactUs {
  position: relative;
  width: 96%;
  margin: 0 auto;
  background: #282828;
  border-radius: 8px;
  color: #fafafa;
  padding: 2rem;
  text-align: center;
}

.contactUs h3 {
  background: #282828;
  line-height: 1;
  font-weight: normal;
}

.contactUs div {
  border: 1px solid #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs svg {
  fill: #fafafa;
}

.contactUs .atto:hover, .contactUs .atto:active, .contactUs .atto:focus {
  fill: #aaa;
}

.contactUs address {
  font-family: system-ui, sans-serif;
  font-style: normal;
  font-size: 2.6rem;
  margin: 0 2rem;
}

.contactUs address a {
  color: #fafafa;
}

.contactUs address a:hover, .contactUs address a:active, .contactUs address a:focus {
  color: #3D446F;
  text-decoration: underline;
}

/* File...share-media */
@media (max-width: 63em) {
  footer {
    min-height: 240px;
    padding-top: 1rem;
  }
  footer h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  footer h2 a {
    background-size: 150px;
    padding: 90px 1rem 0;
  }
  footer h2 a:hover, footer h2 a:active, footer h2 a:focus {
    background-size: 150px;
    color: #aaa;
    text-decoration: none;
  }
  footer address {
    margin-bottom: 1rem;
  }
  footer span {
    display: block;
    padding-bottom: 1rem;
  }
  .contactUs {
    padding: 1rem 1rem 0;
  }
  .contactUs h3 {
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: .8rem;
    border-bottom: 1px solid #fafafa;
  }
  .contactUs div {
    border: none;
    padding: 0;
    justify-content: space-between;
  }
  .contactUs svg {
    width: 50px;
  }
  .contactUs .atto:hover, .contactUs .atto:active, .contactUs .atto:focus {
    height: 50px;
  }
  .contactUs address {
    font-size: 24px;
    margin: 0 .5rem;
    white-space: nowrap;
  }
}

@media (min-width: 64em) {
  a[href^="tel:"] {
    pointer-events: none;
  }
  footer {
    height: 350px;
  }
  footer address {
    margin-bottom: 4rem;
  }
  .contactUs {
    width: 940px;
  }
  .contactUs h3 {
    display: block;
    margin: 0 auto -0.5em;
    width: 40%;
    z-index: 10;
    position: relative;
    padding: 0 1rem;
  }
  .contactUs div {
    z-index: 1;
    position: static;
    padding: 2rem;
  }
  .contactUs .atto:hover, .contactUs .atto:active, .contactUs .atto:focus {
    height: 86px;
  }
}

/* File...media */
@media (max-width: 63em) {
  header {
    max-width: 100%;
    height: 140px;
    background-size: auto 120px;
  }
  header h1 {
    height: 100px;
  }
  header h1 a {
    width: 200px;
    height: 95px;
  }
  nav.main-nav ul {
    max-width: 100%;
    font-size: .8rem;
  }
  nav.main-nav li {
    display: block;
    width: 50%;
    padding: 0 .5rem;
  }
  .nav-bar ul {
    display: none;
  }
  .frontFoot {
    max-width: 100%;
    padding-top: 1rem;
  }
  .frontFoot h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .frontFoot h1 a {
    background-size: 150px;
    padding: 90px 1rem 0;
  }
  .frontFoot h1 a:hover, .frontFoot h1 a:active, .frontFoot h1 a:focus {
    background-size: 150px;
  }
  .frontFoot p {
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }
  .frontFoot small {
    display: block;
    margin-top: 2rem;
  }
  .frontFoot span {
    display: block;
    padding-bottom: 1rem;
  }
}

/*!------------------------------------*    Base
\*!------------------------------------*/
.drawer-open {
  overflow: hidden !important;
}

.drawer-nav {
  position: fixed;
  z-index: 101;
  top: 0;
  overflow: hidden;
  width: 16.25rem;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}

.drawer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.drawer-menu-item {
  font-size: 1rem;
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: #fff;
}

.drawer-menu-item:hover {
  text-decoration: underline;
  color: #555;
  background-color: transparent;
}

/*! overlay */
.drawer-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.drawer-open .drawer-overlay {
  display: block;
}

/*!------------------------------------*    Top
\*!------------------------------------*/
.drawer--top .drawer-nav {
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  transition: top 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.drawer--top.drawer-open .drawer-nav {
  top: 0;
}

.drawer--top .drawer-hamburger,
.drawer--top.drawer-open .drawer-hamburger {
  right: 0;
}

/*!------------------------------------*    Hamburger
\*!------------------------------------*/
.drawer-hamburger {
  position: fixed;
  z-index: 104;
  top: 0;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  padding: 0;
  padding-top: 18px;
  padding-right: 0.75rem;
  padding-bottom: 30px;
  padding-left: 0.75rem;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(0, 0, 0);
  border: 0;
  outline: 0;
  background-color: transparent;
}

.drawer-hamburger:hover {
  cursor: pointer;
  background-color: transparent;
}

.drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: 10px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  width: 100%;
  height: 1px;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #fff;
}

.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  position: absolute;
  top: -10px;
  left: 0;
  content: ' ';
}

.drawer-hamburger-icon:after {
  top: 10px;
}

.drawer-open .drawer-hamburger-icon {
  background-color: transparent;
}

.drawer-open .drawer-hamburger-icon:before,
.drawer-open .drawer-hamburger-icon:after {
  top: 0;
}

.drawer-open .drawer-hamburger-icon:before {
  transform: rotate(45deg);
}

.drawer-open .drawer-hamburger-icon:after {
  transform: rotate(-45deg);
}

/*!------------------------------------*    accessibility
\*!------------------------------------*/
/*!
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content
 */
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*!
 * Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate
 */
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

/* File...contact */
/* File...ThemesPlus */
/* File...Blog-container */
