@charset "UTF-8";
/* File...wapper */
.wrapper {
  width: 100%; }

.container {
  width: 100%;
  line-height: 1.7; }

.title-group {
  padding: 2rem;
  margin-bottom: 2rem; }
  .title-group h1 {
    font-weight: normal;
    font-size: 3rem; }
  .title-group p {
    font-size: 1.4rem; }

/* File...pages-yokohama */
#bus {
  padding-bottom: 4rem; }

.headline {
  background: url(../img/bus/2501.JPG) no-repeat;
  background-size: cover;
  background-position: center center;
  mix-blend-mode: hard-light;
  height: 450px;
  margin-bottom: 2rem;
  color: #fafafa;
  text-align: left;
  position: relative;
  overflow: hidden; }
  .headline h1 {
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.7;
    padding: 2.4rem 4rem; }
  .headline p {
    padding: 0 4rem;
    font-size: 1.2rem; }
  .headline::after {
    content: '';
    position: absolute;
    left: -200px;
    top: 0;
    background: rgba(43, 85, 136, 0.7);
    display: block;
    width: 900px;
    height: 600px;
    transform: rotate(65deg);
    z-index: -1; }

.bus {
  width: 100%;
  text-align: center; }
  .bus .container {
    text-align: left; }
    .bus .container p {
      margin-bottom: 1rem;
      line-height: 1.7; }
    .bus .container span {
      font-weight: bold;
      margin: 0 .5rem; }
  .bus .title-group {
    background: #e9e9e9; }
  .bus h2 {
    background: #e9e9e9;
    font-weight: normal;
    padding: 2rem;
    margin-bottom: 2rem; }
  .bus h3 {
    text-align: center;
    font-weight: normal;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin: 2rem 0; }
  .bus .wrapper h3 {
    font-size: 2rem;
    font-weight: normal;
    margin: 4rem auto;
    display: inline-block;
    line-height: 2;
    border-bottom: 3px solid #b4be82; }

.kosuzume {
  width: 100%;
  margin-top: 40px; }

.diya {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 12rem 0 6rem; }
  .diya::before {
    font-family: Impact;
    font-style: italic;
    content: "365";
    position: absolute;
    color: rgba(170, 137, 189, 0.3);
    line-height: 1;
    z-index: -1; }
  .diya h4 {
    text-align: center;
    color: #fafafa;
    height: 4rem;
    line-height: 1.4; }
  .diya article:nth-child(odd) h4 {
    background: #2b5588;
    border-radius: 2rem 0 0 2rem;
    padding: 1.2rem 0 0; }
  .diya article:nth-child(even) h4 {
    background: #2a3645;
    border-radius: 0 2rem 2rem 0;
    padding: .5rem 0 0; }

/* File...common-section */
.mixB {
  background: #161822; }

.mixB4 {
  background: rgba(43, 85, 136, 0.7); }

.mixY {
  background: rgba(22, 24, 34, 0.7); }

.buzContent {
  margin: 0 auto; }
  .buzContent p {
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.7; }
  .buzContent ul {
    text-align: left; }

/* File...common-inpage */
.inpage {
  margin: 4rem 0; }
  .inpage ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    z-index: 1; }

  .inpage li a {
    color: #363636;
    position: relative;
    display: inline-block;
    transition: .4s;
    }

.oukalink {
  font-size: 1.4rem;
  border-radius: 8px; }
  .oukalink a {
    border-radius: 8px;
    background: #282828;
    color: #fafafa;
    line-height: 3;
    width: 100%;
    display: inline-block; }

@media (min-width: 64em) {
  .oukalink a:hover, .oukalink a:active, .oukalink a:focus {
    background: black; }

  .contactUs .atto:hover, .contactUs .atto:active, .contactUs .atto:focus {
    fill: #aaaaaa; } }
/* File...pages-headline */
.busFront .headline, .shipping .headline, .warehouse .headline, .yokohama .headline, .atsugi .headline, .koga .headline {
  position: relative;
  text-align: left;
  background-size: cover; }
  .busFront .headline h2, .shipping .headline h2, .warehouse .headline h2, .yokohama .headline h2, .atsugi .headline h2, .koga .headline h2 {
    font-weight: normal;
    font-size: 3rem;
    font-size: 2.5rem;
    line-height: 1.7; }

.warehouse .headline {
  text-align: center; }

.busFront .headline,
.warehouse .headline, .shipping .headline {
  overflow: hidden;
  mix-blend-mode: hard-light;
  height: 400px;
  color: #fafafa;
  font-size: 1.2rem; }
  .busFront .headline h3,
  .warehouse .headline h3, .shipping .headline h3 {
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: .2rem;
    border-bottom: 2px solid #fafafa;
    display: inline-block;
    margin: 4rem 0 .5rem; }

.yokohama .headline, .atsugi .headline, .koga .headline {
  height: 500px;
  padding: 2rem 0 0 2rem;
  animation-delay: 1.5s;
  animation: SlideIn 1.5s; }
  .yokohama .headline h2, .atsugi .headline h2, .koga .headline h2 {
    opacity: 0; }
  .yokohama .headline address, .atsugi .headline address, .koga .headline address {
    opacity: 0;
    background: rgba(76, 103, 139, 0.5);
    font-size: 1.2rem;
    padding: 2rem;
    color: #fafafa;
    line-height: 1.7;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.6); }
    .yokohama .headline address a, .atsugi .headline address a, .koga .headline address a {
      color: #fafafa; }

/* CSSアニメーションの指定 */
.yokohama .mixB, .yokohama .mixB4, .atsugi .mixB, .atsugi .mixB4, .koga .mixB, .koga .mixB4 {
  animation: SlideIn .4s; }
.yokohama .headline h2, .atsugi .headline h2, .koga .headline h2 {
  animation-delay: 2s;
  animation: SlideUp 2s;
  animation-fill-mode: forwards; }
.yokohama .headline address, .atsugi .headline address, .koga .headline address {
  animation-delay: 4s;
  animation: FideIn 1.5s;
  animation-fill-mode: forwards; }

/* @keyframes */
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes SlideUp {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  50% {
    opacity: 0;
    transform: translateY(150%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes FideIn {
  0% {
    opacity: 0;
    transform: translateX(100); }
  80% {
    opacity: 0;
    transform: translateX(100); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes SlideCin {
  0% {
    background: #161822;
    transform: translateX(-100%); }
  99% {
    background: #161822; }
  100% {
    background: rgba(43, 85, 136, 0.6);
    transform: translateX(0); } }

.fadeInBB {
  animation: SlideCin 1s;
  animation-fill-mode: both; }

.fadeInX {
  animation-delay: 8s;
  animation: SlideIn 2s;
  animation-timing-function: ease-in-out; }

/* @keyframes */
@keyframes Reverse {
  100% {
    opacity: 0;
    transform: translateX(-100%); } }
/* File...pages-bus */
.vehicleType h4 {
  overflow: hidden;
  align-items: center;
  color: #fafafa;
  margin-top: .5rem;
  line-height: 3;
  display: flex;
  border-radius: 2px; }
  .vehicleType h4::before, .vehicleType h4::after {
    content: '';
    flex: 1;
    padding: 1px 0;
    height: 0;
    transform: rotate(45deg); }
  .vehicleType h4::before {
    background: #c3d8c7; }
  .vehicleType h4::after {
    background: #dbc5c9; }

.equipment,
.vehicleType {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  max-width: 1300px; }
  .equipment img,
  .vehicleType img {
    width: 100%; }

.vehicleType {
  flex-wrap: wrap; }
  .vehicleType h4 {
    background: #b4be82; }
  .vehicleType p {
    padding: 1rem 1rem 2rem;
    text-align: left;
    line-height: 1.6; }

.vehicleList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 6rem; }
  .vehicleList dt, .vehicleList dd {
    border: 1px solid #fff;
    padding: 1rem .5rem;
    background: whitesmoke; }

.equipment {
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 4rem; }
  .equipment section {
    width: 24%;
    padding-bottom: 2rem; }
  .equipment h4 {
    background: rgba(0, 0, 0, 0.8);
    color: #fafafa;
    padding: .5rem;
    margin: 4px 0 4px; }
  .equipment p {
    text-align: left; }

@media (max-width: 63.99875em) {
  nav.inpage ul {
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid #cccccc; }
  nav.inpage li {
    border-top: 1px solid #cccccc;
    background: #fafafa;
    width: 100%; }
    nav.inpage li a {
      padding: 2rem 1rem; }

  .saftyBus {
    margin-top: 4rem; }
    .saftyBus img {
      display: block;
      margin: 0 auto; }

  .bus .container p {
    margin: auto 1rem 1rem; }
  .bus h2 {
    font-size: 1.3rem; }
  .bus h3 {
    font-size: 1.3rem; }

  .kosuzume img {
    width: 100%; }

  .diya {
    flex-direction: column; }
    .diya::before {
      font-size: 12rem;
      top: -25px;
      right: 24px; }
    .diya article {
      width: 100%; }
      .diya article section {
        margin: 2rem 1rem 0; }
    .diya article:nth-child(odd) h4 {
      margin-left: .5rem; }
    .diya article:nth-child(even) h4 {
      margin-right: .5rem; }

  .vehicleList dt {
    width: 100%;
    font-weight: 500;
    background: #f1f1f1; }
  .vehicleList dd {
    width: 100%; }
  .vehicleList dd:nth-child(4n) {
    text-align: right; }
  .vehicleList dt:nth-of-type(1), .vehicleList dd:nth-of-type(1), .vehicleList dd:nth-of-type(2), .vehicleList dd:nth-of-type(3) {
    display: none; }

  .mapbtm {
    margin: 1rem auto 4rem 1rem; }
    .mapbtm span {
      display: block; } }

@media (min-width: 64em) {
  .container {
    margin: 0 auto;
    width: 940px; }

  .inpage li {
  font-size: 6px;
  /* font-weight: bold; */
    border: 1px solid #cccccc;
    position: relative;
    padding: 0;
    }
    .inpage li a {
      padding: 2rem 4rem;
padding: 0;}


      .inpage li a:hover {
        color: #fafafa;
        transform: translate3d(0, 0, 10px);
        width: 100%; }
      .inpage li a::before {
        content: '';
        position: absolute;
        color: #fafafa;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .4s;
        z-index: -1; }
      .inpage li a:hover::before {
        transform-origin: left top;
        transform: scale(1, 1); }

  .vehicleType section {
    width: 32%; }

  .saftyBus {
    text-align: center;
    margin-top: 4rem; }

  .bus h2 {
    font-size: 2rem; }
  .bus h3 {
    font-size: 1.6rem; }
  .bus nav li {
    border: 1px solid #cccccc;
    position: relative; }
    .bus nav li a {
      padding: 2rem 4rem; }
      .bus nav li a:hover {
        color: #fafafa;
        transform: translate3d(0, 0, 10px);
        width: 100%; }
      .bus nav li a::before {
        content: '';
        position: absolute;
        color: #fafafa;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .4s;
        z-index: -1; }
      .bus nav li a:hover::before {
        transform-origin: left top;
        transform: scale(1, 1); }

  .kosuzume {
    width: 940px;
    background: url(../img/bus/ryokaku05.jpg) no-repeat;
    background-size: 100%;
    background-position: center top -120px;
    padding-top: 480px;
    border-radius: 24px;
    margin-top: 40px; }
    .kosuzume img:nth-of-type(1) {
      display: none; }
    .kosuzume img {
      width: 470px;
      border-top: 1px solid white; }
    .kosuzume img:nth-of-type(4) {
      border-radius: 0 0 0 24px; }
    .kosuzume img:nth-of-type(5) {
      border-radius: 0 0 24px; }
    .kosuzume img:nth-of-type(4), .kosuzume img:nth-of-type(5) {
      margin-top: -8px; }

  .diya::before {
    font-size: 24rem;
    top: -45px;
    right: 4rem; }
  .diya article {
    width: 50%; }
    .diya article section {
      margin: 2rem 2rem 0 2rem;
      padding-left: 1rem; }
  .diya article:nth-child(odd) {
    margin-right: .5rem; }
    .diya article:nth-child(odd) section {
      border-left: 2px solid #2b5588; }
  .diya article:nth-child(even) {
    margin-left: .5rem; }
    .diya article:nth-child(even) section {
      border-left: 2px solid #2a3645; }

  .vehicleList dt, .vehicleList dd {
    border: 1px solid #fff;
    padding: 1rem .5rem;
    background: whitesmoke; }
  .vehicleList dt {
    width: 25%; }
  .vehicleList dd {
    width: 30%; }
  .vehicleList dd:nth-child(4n) {
    width: 15%; }

  .mapbtm {
    width: 940px;
    margin: 1rem auto 4rem;
    text-align: left; }
    .mapbtm span {
      margin-right: 1rem; }

  .oukalink a:hover, .oukalink a:active, .oukalink a:focus {
    background: black; } }
/* File...share-media */
/* File...media */
/* File...share-base */
/* File...base */

/*# sourceMappingURL=page-bus.css.map */
