@charset "UTF-8";
/* File...common */
.wrapper {
  width: 100%; }

.buzContent h2,
.yokohama .wrapper h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 4rem auto;
  display: inline-block;
  line-height: 2;
  border-bottom: 3px solid rgba(137, 184, 194, 0.6); }

/* File...pages-yokohama */
.koga .headline {
  background: url(../img/koga/gm1.png) no-repeat;
  background-size: cover;
  background-position: top 25% center;
  background-position: center bottom 20%;
  mix-blend-mode: hard-light;
  color: #fafafa; }

/* File...common-section */
.mixB {
  background: #161822; }

.mixB4 {
  background: rgba(43, 85, 136, 0.7); }

.mixY {
  background: rgba(22, 24, 34, 0.7); }

.buzContent {
  margin: 0 auto; }
  .buzContent p {
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.7; }
  .buzContent ul {
    text-align: left; }

/* File...pages-headline */
.busFront .headline, .shipping .headline, .warehouse .headline, .yokohama .headline, .atsugi .headline, .koga .headline {
  position: relative;
  text-align: left;
  background-size: cover; }
  .busFront .headline h2, .shipping .headline h2, .warehouse .headline h2, .yokohama .headline h2, .atsugi .headline h2, .koga .headline h2 {
    font-weight: normal;
    font-size: 3rem;
    font-size: 2.5rem;
    line-height: 1.7; }

.warehouse .headline {
  text-align: center; }

.busFront .headline,
.warehouse .headline, .shipping .headline {
  overflow: hidden;
  mix-blend-mode: hard-light;
  height: 400px;
  color: #fafafa;
  font-size: 1.2rem; }
  .busFront .headline h3,
  .warehouse .headline h3, .shipping .headline h3 {
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: .2rem;
    border-bottom: 2px solid #fafafa;
    display: inline-block;
    margin: 4rem 0 .5rem; }

.yokohama .headline, .atsugi .headline, .koga .headline {
  height: 500px;
  padding: 2rem 0 0 2rem;
  animation-delay: 1.5s;
  animation: SlideIn 1.5s; }
  .yokohama .headline h2, .atsugi .headline h2, .koga .headline h2 {
    opacity: 0; }
  .yokohama .headline address, .atsugi .headline address, .koga .headline address {
    opacity: 0;
    background: rgba(76, 103, 139, 0.5);
    font-size: 1.2rem;
    padding: 2rem;
    color: #fafafa;
    line-height: 1.7;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.6); }
    .yokohama .headline address a, .atsugi .headline address a, .koga .headline address a {
      color: #fafafa; }

/* CSSアニメーションの指定 */
.yokohama .mixB, .yokohama .mixB4, .atsugi .mixB, .atsugi .mixB4, .koga .mixB, .koga .mixB4 {
  animation: SlideIn .4s; }
.yokohama .headline h2, .atsugi .headline h2, .koga .headline h2 {
  animation-delay: 2s;
  animation: SlideUp 2s;
  animation-fill-mode: forwards; }
.yokohama .headline address, .atsugi .headline address, .koga .headline address {
  animation-delay: 4s;
  animation: FideIn 1.5s;
  animation-fill-mode: forwards; }

/* @keyframes */
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes SlideUp {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  50% {
    opacity: 0;
    transform: translateY(150%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes FideIn {
  0% {
    opacity: 0;
    transform: translateX(100); }
  80% {
    opacity: 0;
    transform: translateX(100); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes SlideCin {
  0% {
    background: #161822;
    transform: translateX(-100%); }
  99% {
    background: #161822; }
  100% {
    background: rgba(43, 85, 136, 0.6);
    transform: translateX(0); } }
.fadeInBB {
  animation: SlideCin 1s;
  animation-fill-mode: both; }

.fadeInX {
  animation-delay: 8s;
  animation: SlideIn 2s;
  animation-timing-function: ease-in-out; }

/* @keyframes */
@keyframes Reverse {
  100% {
    opacity: 0;
    transform: translateX(-100%); } }
/* File...pages-bus */
@media (min-width: 64em) {
  address {
    bottom: -1.5rem;
    right: 1rem; } }
/* File...share-media */
/* File...media */

/*# sourceMappingURL=page-koga.css.map */
