@charset "utf-8";

//* GLOBAL NAV FIXED ON PAGE TOP
//----------------------------------------------------*/
.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

//* LOADER :not
//----------------------------------------------------*/
/*.none {
	display: none;
}
.loader {
	display: flex;
	align-items: center;
	max-height: 100vh;
	overflow: hidden;
}*/
/*'display':'flex','align-items':'center','overflow':'hidden'});*/


//* BOOTSTRAP STYLES
//----------------------------------------------------*/
.gen_alc,
.align-items-center {
	-webkit-box-align: center !important;
	-webkit-align-items: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.gen_jsc,
.justify-content-center {
	-webkit-box-pack: center !important;
	-webkit-justify-content: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.gen_ale,
.align-items-end {
	-webkit-box-align: end !important;
	-webkit-align-items: flex-end !important;
	-ms-flex-align: end !important;
	align-items: flex-end !important;
}

//* ELEMENT COMMON STYLES
//----------------------------------------------------*/
.gen_lh8 {
	line-height: 1.8;
}

.gen_tac {
	text-align: center;
}

//* MARGIN
//----------------------------------------------------*/
.gen_mt40 {
	margin-top: 40px;
}

.gen_mb1 {
	margin-bottom: 1em;
}
