// main: ./pages-style.scss
// main: ./blog-style.scss

//* TATEGAKI
//----------------------------------------------------*/
.vertical {
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}

* main > h1 {
	// text-align: center;
	font-size: 3rem;
	font-weight: normal;
	margin: 4rem auto;
}

.title-group {
	padding: 2rem;
	margin-bottom: 2rem;
	h1 {
		font-weight: normal;
		font-size: 3rem;
	}
	p {
		font-size: 1.4rem;
	}
}

.tac {
	text-align: center;
}
.pb4 {
	padding-bottom: 4rem;
}

//* fade in anchor
//----------------------------------------------------*/
.fina {
	@include fina;
}

.fina:hover {
	@include fina-hover;
}

.fina::before {
	@include fina-before;
}

.fina:hover::before {
	@include fina-hover-before;
}

//* Double Diagonal W Line Heading
//----------------------------------------------------*/
.working h4,
.warehouse .flex h3,
.salesOffice h3 {
	color: $col-Fa;
	font-weight: normal;
	line-height: 5;
	position: relative;
	margin-bottom: 1rem;
	&::before,&::after {
		position: absolute;
		content: '';
		width: 50%;
		display: block;
	}
	&::before {
		top: 1rem;
		right: 5%;
	}
	&::after {
		left: 5%;
		bottom: 1rem;
	}
}

.salesOffice,.warehouse {
	.flex {
		h3 {
			background: $rgb-08;
			&::before {
				border-top: 2px solid $orange;
			}
			&::after {
				border-top: 2px solid $green;
			}
		}
	}
}

//* Diagonal W Line Heading
//----------------------------------------------------*/
.us h3,.vehicleType h4 {
	@include Wline;
	&::before,&::after {
		@include Wline-ba;
	}
	&::before {
		background: rgb(195, 216, 199);//#C3D8C7;
	}
	&::after {
		background: rgb(219, 197, 201);//#DBC5C9;
	}
}

//* IMG W 100
//----------------------------------------------------*/
// .flex,
.salesOffice,
.warehouse .flex,
.us,
.equipment,
.vehicleType {
	img {
		width: $sm-width;
	}
}

//* layout block FLEX
//----------------------------------------------------*/
.ceo-message section,
.us,
.working {
	display: flex;
	margin: 0 auto;
}
.equipment,
.vehicleType {
	display: flex;
	// margin: 0 auto;
	@include flex1300;
}

//* @include titleH2;
//----------------------------------------------------*/
.greenSafety h2,
.bus .wrapper h3 {
	@include titleH2;
}

.buzContent,
.qualityManagement,
.salesOffice,
.yokohama .wrapper {
	h2 {
		@include titleH2;
		border-bottom: 3px solid $cyan-06;
	}
}

.companyHistory {
	h2 {
		@include titleH2;
		border-bottom: 3px solid $blue-06;
	}
}

.joinFront,
.basicPrinciple,
.ceo-message {
	h2 {
		@include titleH2;
		border-bottom: 3px solid $red-06;
	}
}
//* Double Diagonal W Line Heading

	// 	background: $cyan;
	// 	color: $col-Fa;
	// 	font-weight: normal;
	// 	font-size: 1.2rem;
	// 	line-height: 5;
	// 	position: relative;
	// 	margin-bottom: 1rem;
	// 	&::before,&::after {
	// 		position: absolute;
	// 		content: "";
	// 		width: 50%;
	// 		display: block;
	// 	}
	// 	&::before {
	// 		top: 1rem;
	// 		right: 5%;
	// 		border-top: 2px solid #DBC5C9;
	// 	}
	// 	&::after {
	// 		left: 5%;
	// 		bottom: 1rem;
	// 		border-top: 2px solid #C3D8C7;
	// 	}
	// }







// //* W Line Heading
// //----------------------------------------------------*/
// @mixin Wline {
// 	overflow: hidden;
// 	align-items: center;
// 	// background: $blue;//#3cb3e4;
// 	color: $col-Fa;
// 	margin-top: .5rem;
// 	line-height: 3;
// 	display: flex;
// 	border-radius: 2px;
// }
// @mixin Wline-ba {
// 	content: '';
// 	flex: 1;
// 	// background: #fff;
// 	padding: 1px 0;
// 	height: 0;
// 	transform: rotate(45deg);
// }
// h3 {
// 	&::before,&::after {
// 	}
// 	&::before {
// 		background: #C3D8C7;
// 	}
// 	&::after {
// 		background: #DBC5C9;
// 	}
// }
/*.none {
	display: none;
}
.loader {
	display: flex;
	align-items: center;
	max-height: 100vh;
	overflow: hidden;
}*/
/*'display':'flex','align-items':'center','overflow':'hidden'});*/

//* BOOTSTRAP STYLES
//----------------------------------------------------*/
// .gen_alc,
// .align-items-center {
// 	-webkit-box-align: center !important;
// 	-webkit-align-items: center !important;
// 	-ms-flex-align: center !important;
// 	align-items: center !important;
// }
//
// .gen_jsc,
// .justify-content-center {
// 	-webkit-box-pack: center !important;
// 	-webkit-justify-content: center !important;
// 	-ms-flex-pack: center !important;
// 	justify-content: center !important;
// }

// .gen_ale,
// .align-items-end {
// 	-webkit-box-align: end !important;
// 	-webkit-align-items: flex-end !important;
// 	-ms-flex-align: end !important;
// 	align-items: flex-end !important;
// }

//* ELEMENT COMMON STYLES
//----------------------------------------------------*/
// .gen_lh8 {
// 	line-height: 1.8;
// }
//
// .gen_tac {
// 	text-align: center;
// }

//* MARGIN
//----------------------------------------------------*/
// .gen_mt40 {
// 	margin-top: 40px;
// }
//
// .gen_mb1 {
// 	margin-bottom: 1em;
// }
// .mt2 {
// 	margin-top: 2rem;
// }

// .mt4 {
// 	margin-top: 4rem;
// }

// .mb4 {
// 	margin-bottom: 4rem;
// }

	// transform: translateZ(0,0,0);
	// position: relative;
	//   display: inline-block;
	//   padding: .5em 4em;
	//   border: 2px solid #333;
	//   color: #333;
	//   text-align: center;
	//   text-decoration: none;
	//   transition: .3s;



	// .us {
	// 	h3 {
	// 		overflow: hidden;
	// 		align-items: center;
	// 		background: $blue;//#3cb3e4;
	// 		color: $col-Fa;
	// 		margin-top: .5rem;
	// 		line-height: 3;
	// 		display: flex;
	// 		border-radius: 2px;
	// 		&::before,&::after {
	// 			content: '';
	// 			flex: 1;
	// 			padding: 1px 0;
	// 			height: 0;
	// 			transform: rotate(45deg);
	// 		}
	// 		&::after {
	// 			background: #DBC5C9;
	// 		}
	// 		&::before {
	// 			background: #C3D8C7;
	// 		}
	// 	}
	// }
