// main: ./pages-style.scss
// main: ./blog-style.scss

//* POSITION: FIXED
//----------------------------------------------------*/
.fixed {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.mixB {
	// background: $rgb-F10;
	// background: $rgb-10;
	// background: $bus-navy-07;
	background: $iceBG;
}
.mixB4 {
	// background: $iceBG;
	// background: $rgb-F8;
	// background: $bus-navy-09;
	// background: #20262E;
	// background: $bus-blue-08;
	background: $bus-blue-07;
}


//* YOKOHANA 事業内容
//----------------------------------------------------*/
.buzContent {
	margin: 0 auto;
	h2 {
		@include titleH2;
		border-bottom: 3px solid $cyan-06;
	}
	p {
		text-align: left;
		margin-bottom: 1rem;
		line-height: 1.7;
	}
	ul {
		text-align: left;
	}
}

//* BOX BLOCS LINK
//----------------------------------------------------*/
.inpage {
	margin: 4rem 0;
	ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		width: $sm-width;
		z-index: 1;
	}
	li {
		a {
			color: $text-color;
			@include fina;
			flex-grow: 1;
		}
	}
}

.oukalink {
	font-size: 1.4rem;
	border-radius: 8px;
	a {
		border-radius: 8px;
		background: $col-28;
		color: $col-Fa;
		line-height: 3;
		width: 100%;
		display: inline-block;
		// &:hover, &:active, &:focus {
		// 	background: $rgb-10;
		// }
	}
}

//* contactUs
//----------------------------------------------------*/
.contactUs {
	position: relative;
	width: 96%;
	margin: 0 auto;
	background: $col-28;
	border-radius: 8px;
	color: $col-Fa;
	padding: 1.5rem;
	padding: 1rem 1.5rem 1.5rem;
	text-align: center;
	h3 {
		background: $col-28;
		line-height: 1;
		font-weight: normal;
	}
	div {
		border: 1px solid $col-Fa;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	svg {
		fill: $col-Fa;
	}
	// .atto {
	// 	&:hover, &:active, &:focus {
	// 		fill: $col-aa;
	// 	}
	// }
	address {
		font-family: $fontFamilySys;
		font-size: 2rem;
		margin: 0 2rem;
		a {
			color: $col-Fa;
			// &:hover, &:active, &:focus {
			// 	color: $hover-color;
			// 	text-decoration: underline;
			// }
		}
	}
}


//* TRANSPORT ANCHOR
//----------------------------------------------------*/
@media (min-width:64em) {
	.oukalink {
		a {
			&:hover, &:active, &:focus {
				background: $rgb-10;
			}
		}
	}
	.contactUs {
		.atto {
			&:hover, &:active, &:focus {
				fill: $col-aa;
			}
		}
	}
}
