// main: ./blog-style.scss


// main: ./style-mod.min.scss
// main: ./../style.scss

//* SITE ROOT
//----------------------------------------------------*/
$cyan: #89B8C2;
$blue: #84A0C6;
$purple: #A093C7;
$green: #B4BE82;
$red: #E27878;
$orange: #E2A478;
$iceBG: #161822;

$col-F: #fff;
$col-Fa: #fafafa;
$col-Fc: #fcfcfc;

$col-F1: #f1f1f1;
$col-F5: #f5f5f5;
$col-F6: #f6f6f6;
$col-aa: #aaa;
$col-cc: #ccc;
$col-dd: #ddd;
$col-33: #333;
$col-66: #666;
$col-36: #363636;
$col-14: #141414;
$col-22: #222;
$col-24: #242424;
$col-28: #282828;
$col-00: #000;

$col-B1:#4C678B;
$col-B2:#3D446F;
// $col-hart:#96999d;

$text-color: $col-28;
$link-color: $col-B1;
$hover-color: $col-B2;

$footer-Bg-Color: $col-28;


// $footer-Bg-Color: $col-14;
// %color2: #e1e6ea;
// %color3: #f5f5f5;
// %color4: #5CC3F6;
// %color5: #A6B4BF;
// %color6: #556877;


// %inpege-common-color: #89A0C2;
// %text-color-dark: #f5f5f5;


// %service-Bg-Color: hsl(216, 20%, 95%);
// %about-Bg-Color: hsl(214, 24%, 88%);
// %works-Bg-Color: hsl(229, 10%, 79%);
//
// %contact-Bg-Color: #20212B;
// %footer-Bg-Color: #111219;
// #20212B
// #20262E AOI
// #2b2d38
// background: #0C1119;
// hsl(216, 35%, 10%);//#101722
// #0C1119;
// #4C678B;
// #111219;
// #BABDC6;
// #3D446F;
// #D8DCEC;
// #8F7EBB;
// #78ACB5;
// #D96165;
// #AAB4BF;

//* BLOG
//----------------------------------------------------*/
// %blog-link-color: #6fc2fa;
// %blog-hover-color: #556877;
// $blog-hover-color: #556877;
// $FFF: #fff;
// $color100: #fff;
// $color2: #f6f6f6;
// $color2: #f5f5f5;
// $color2: #f4f4f4;
// $wtBL: #e1e6ea;
// $color9: #ebeef1;
// $color10: #e7e7e7;
// $color10: #404e59;
// $hover-color: #A6B4BF;
// $text-color: #636363;
// $color10: #666;
// $color1: #e1e6ea;
// $Color2: #333;
// background: #2A2E37;
// background: #2b343b;
// background: #151a1e;
// $color0: #000;
// $color: #990000;
