// main: ./site-style.scss
// main: ./pages-style.scss
// main: ./blog-style.scss

// @font-face {
// 	font-family: 'Noto Serif Japanese';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url(../fonts/NotoSerifCJKjp-Regular.otf) format('opentype');
// }
//
// @font-face {
// 	font-family: 'Noto Serif Japanese';
// 	font-style: normal;
// 	font-weight: 700;
// 	src: url(../fonts/NotoSerifCJKjp-Bold.otf) format('opentype');
// }
// @font-face {
// 	font-family: 'Noto Serif Japanese';
// 	font-style: normal;
// 	font-weight: 900;
// 	src: url(../fonts/NotoSerifCJKjp-Black.otf) format('opentype');
// }

$BasefontFamily: 'Lato','Noto Sans JP', system-ui, sans-serif;
$fontFamilyJP: 'Noto Sans JP', system-ui, sans-serif;
$fontFamilyMIN: 'Noto Serif JP', serif;;
$fontFamilyEN:'Verdana', sans-serif;
$fontFamilyLato: 'Lato', 'Open Sans', sans-serif;
$fontFamilySys: system-ui,sans-serif;
