// main: ../style-front.min.scss

//* BLOCK COLOR STYLE
//----------------------------------------------------*/
.black {
	background: $col-22;
	color: $col-F5;
}

.black14 {
	background: $col-14;
	color: $col-F5;
}

.icebg {
	background: $iceBG;
	color: $col-F5;
}

%dd {
	background: $col-dd;
	color: $col-F;
}
.white {
	background: $col-F;
}

.wfa {
	background: $col-Fa;
}


.wf1 {
	background: $col-F1;
}
.wf5 {
	background: $col-F5;
}
.wf6 {
	background: $col-F6;
}
.wfa {
	background: $col-Fa;
}

.wfc {
	background: $col-Fc;
}



%Blake {
	height: 100vh;
}

%width-lg {
	width: 600px;
}


//* FRONT CONTENT BOX STYLE
//----------------------------------------------------*/
// .introduction
.introduction {
	@extend .black;
	article {
		@extend .container;
		//* MOBILE.FIRST
		width: 90%;
		padding: 90px 1rem;
	}
}

// .blog-front
.blog-front {
	@extend .wf6;
	// background: $col-hart;
	article {
		margin: 0 auto;
		text-align: center;
		width: 90%;
		padding-top: 2rem;
		// @extend .container;
		// background: PINK;
	}
}

// .blog-card
.blog-card {
	// border-radius: 1em;
	width: 100%;
	text-align: left;
	position: relative;
	margin-bottom: 2rem;
	padding-bottom: 0.3rem;
	background: $col-F;
	line-height: 1.7;
	// background: $col-24;
	// color: $col-F;
	div {
		min-height: 5rem;
		// background: PINK;
	}
	h3 {
		font-weight: 700;
		text-align: center;
	}
	div + h3 {
		margin-top: -3.4rem;
		padding-bottom: 2rem;
		// background: RED;
	}
	h3 + div  {
		padding: 0 1rem;
	}
}

.info {
	padding-bottom: 4rem;
	// border: 1px solid RED;
	h2 {
		position: relative;
		font-weight: 300;
		// font-weight: normal;
		letter-spacing: 0.1rem;
		font-size: 1.8rem;
		text-align: center;
		// text-transform: uppercase;
		// text-transform: capitalize;
		padding-top: 4rem;
		padding-bottom: 1.5rem;
		// border-bottom: 4px solid #000;
		&::after {
			// letter-spacing: -2rem;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate( -50%, 0%);
			content: '.....';
			display: block;
			font-size: 4rem;
			// font-size: 2em;
			line-height: 1;
			background: linear-gradient(to right, $cyan 0%, $cyan 19%, $blue 20%,  $blue 39%, $purple 40%, $purple 59%, $orange 60%, $orange 79%, $green 80%, $green 100%);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
		}
	}
	dl {
		display: flex;
		//* MOBILE.FIRST
		flex-direction: column;
		width: 90%;
		margin: 2rem auto;
		line-height: 1.7;
	}
	// dt {}
	dd {
		margin-bottom: 1rem;
	}
} //.info


.service,.about,.contact {
	h1 {
		position: relative;
		font-weight: 300;
		letter-spacing: 0.1rem;
		font-size: 2.2rem; //1.8rem;
		text-align: center;
		padding-top: 4rem;
		padding-bottom: 1.5rem;
		text-transform: uppercase;
		// border-bottom: 4px solid #000;
		&::after {
			// letter-spacing: -2rem;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate( -50%, 0%);
			content: '.....';
			display: block;
			font-size: 4rem;
			// font-size: 2em;
			line-height: 1;
			background: linear-gradient(to right, $cyan 0%, $cyan 19%, $blue 20%,  $blue 39%, $purple 40%, $purple 59%, $orange 60%, $orange 79%, $green 80%, $green 100%);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
		}
	}
}
.design {
	h2 {
		position: relative;
		font-weight: 300;
		letter-spacing: 0.1rem;
		font-size: 2rem; //1.8rem;
		text-align: center;
		padding-top: 4rem;
		padding-bottom: 1.5rem;
		// margin-bottom: 4rem;
		// text-transform: uppercase;
		// border-bottom: 4px solid #000;
		&::after {
			// letter-spacing: -2rem;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate( -50%, 0%);
			content: '.....';
			display: block;
			font-size: 4rem;
			// font-size: 2em;
			line-height: 1;
			background: linear-gradient(to right, $cyan 0%, $cyan 19%, $blue 20%,  $blue 39%, $purple 40%, $purple 59%, $orange 60%, $orange 79%, $green 80%, $green 100%);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
		}
	}
}



// @mixin sub-content-title {
// 	font-family: $fontFamilyLato;
// 	font-weight: 300;
// 	letter-spacing: 0.2rem;
// 	font-size: 1.8rem;
// }
// @include sub-content-title();
