// main: ./pages-style.scss
// main: ./blog-style.scss

//* HTML BODY
//----------------------------------------------------*/
html, body {
	color: $text-color;
	background: $col-F;
	position: relative;
	font-size: 16px;
	font-family: $BasefontFamily;
}

//* ANCHOR
//----------------------------------------------------*/
a {
	text-decoration: none;
	color: $link-color;
}

//* DRAWER + MAIN NAV SHARE STYLE
//----------------------------------------------------*/
nav {
	a {
		color: $col-Fa;
	}
}

.drawer-menu {
	padding-bottom: 2rem;
	li {
		display: block;
		padding: .75rem;
	}
	li:last-of-type {
		padding-bottom: 3rem;
	}
}

a.drawer-brand {
	display: inline-block;
   background: url(../img/kyoudou.png)no-repeat;
   background-position: center center;
	width: 160px;
   height: 50px;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

//* FOOTER
//----------------------------------------------------*/
footer {
	width: 100%;
	background: $footer-Bg-Color;
	color: $col-F5;
	text-align: center;
	padding-top: 2rem;
	address {
		font-size: 0.8rem;
		line-height: 1.7;
		margin-bottom: 4rem;
	}
	small {
		color: $col-aa;
		line-height: 1;
	}
	h2 {
		font-size: 1.4rem;
		margin-bottom: 1rem;
		a {
			background: url(../img/logo-transparent.png)no-repeat;
			background-position: center top;
			background-size: 200px;
			display: inline-block;
			width: auto;
			color: $col-F5;
			padding-top: 130px;
		}
	}
}


//* share-base ANCHOR
//----------------------------------------------------*/
@media (min-width:64em) {

	//* ANCHOR
	//----------------------------------------------------*/
	a {
		&:hover, &:active, &:focus {
			color: $hover-color;
			transition-duration: 1s;
		}
	}

	//* DRAWER + MAIN NAV SHARE STYLE
	//----------------------------------------------------*/
	nav {
		a {
			&:hover, &:active, &:focus {
				color: $col-66;
				text-decoration: none;
			}
		}
	}

	a:hover.drawer-brand {
		background-color: rgba(0, 0, 0, 0.6);
		background-blend-mode: darken;
	}

	//* FOOTER
	//----------------------------------------------------*/
	footer {
		h2 {
			a {
				&:hover, &:active, &:focus {
					background: url(../img/logo-onwhite.png)no-repeat;
					background-position: center top;
					background-size: 200px;
					color: $col-aa;
					// color: #4A4A4A;
					text-decoration: none;
				}
			}
		}
	}

}
