// main: ./pages-style.scss
// main: ./blog-style.scss

//* FRONT-PAGE BLOG SECTION
//----------------------------------------------------*/
// .blog-card
.blog-card {
	position: relative;
	background: rgba(255, 255, 255, 0.7);
	text-align: left;
	line-height: 1.7;
	a {
		display: block;
		color: $text-color;
		&:hover, &:active, &:focus {
			background: rgba(255, 255, 255, 0.8);
			time {
				background: #000;
			}
		}
	}
	time {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: inline-flex;
		font-weight: 300;
		text-transform: uppercase;
		flex-direction: column;
		justify-content: center;
		min-width: 80px;
		max-width: 80px;
		text-align: center;
		padding: auto 0;
		background: rgba(0, 0, 0, 0.85);
		color: $col-F5;
		span:nth-of-type(2) {
			font-size: 2rem;
			padding: 0.5rem 0;
		}
		span {
			width: 100%;
			line-height: 1;
		}
	}
}

//* @media SM
//----------------------------------------------------*/
@media (max-width:63em) {
	.blog-card {
		width: 90%;
		margin: 2rem auto;
		div {
			padding: 1rem 1rem 1rem 6rem;
		}
	}
}
//* @media MD 1024
//----------------------------------------------------*/
@media (min-width:64em) {
	.blog-card {
		width: 70%;
		margin: 3rem auto 0;
		div {
			min-height: 7rem;
			padding: 2rem 2rem 2rem 7rem;
		}
	}
}
