// compileExpanded: ../css/$1.css
// compileCompressed: ../css/$1.css

@charset "utf-8";

//* IMPORT MODULE FILES
//----------------------------------------------------*/
/* File...extend-color */
@import "extend-color";
/* File...mixin */
@import "mixin";
/* File...fontfamily */
@import "fontfamily";
/* File...box-sizing */
@import "box-sizing";

/* File...site-base */
@import "Pages/site-base";

* main > h1 {
	// text-align: center;
	font-size: 3rem;
	font-weight: normal;
	margin: 4rem auto;
}

main {
	text-align: center;
	padding-bottom: 4rem;
}


/* File...contact-US */
@import "contact-US";


.fixed {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: $sm-width;
	z-index: 100;
}

//* DRAWER NAV TOP
//----------------------------------------------------*/
@import "nav/variables";
@import "nav/base";
@import "nav/position-top";
@import "nav/hamburger";
@import "nav/accessibility";

//* @media
//----------------------------------------------------*/
@import "Pages/site-media";
