// main: ../pages-style.scss

//* ATSUGI
//----------------------------------------------------*/
.atsugi {
	.headline {
		// background-size: cover;
		// background: url(../img/atsugi/atsugi-6.png)no-repeat;
		// background: url(../img/atsugi/8.jpg)no-repeat;
		background: url(../img/atsugi/forklift.png)no-repeat;
		background-size: cover;
		background-position: center center;
		mix-blend-mode: luminosity; //輝度
		color: $col-Fa;
		text-shadow: 0 2px 5px #000;
	}
}

.atsugi-photo {
	margin-top: 4rem;
	article {
		padding: 1rem 0;
		margin-bottom: 1rem;
	}
	article:nth-child(odd) {
		background: hsla(215, 37%, 65%, 0.15);
	}
	article:nth-child(even) {
		background: hsla(215, 37%, 80%, 0.15);
	}
}
