// main: ../pages-style.scss

//* ATSUGI
//----------------------------------------------------*/
.atsugi {
	text-align: center;
	padding-bottom: 4rem;
	.headline {
		background: url(../img/atsugi/atsugi-4.jpg)no-repeat;
		background-position: center center;
		background-size: cover;
		// mix-blend-mode: hard-light; //ハードライト
		mix-blend-mode: luminosity; //輝度
	}
	// img {
	// 	height: 350px;
	// }
}

.atsugi-photo {
	margin-top: 4rem;
	article {
		// width: 80%;
		padding: 1rem 0;
		margin-bottom: 1rem;
	}
	article:nth-child(odd) {
		// margin: 0 auto 1rem 0;
		background: hsla(215, 37%, 65%, 0.15);
	}

	article:nth-child(even) {
		// margin: 0 0 1rem auto;
		// background: hsla(0, 0%, 95%, 0.5);
		background: hsla(215, 37%, 80%, 0.15);
	}
}
