// main: ../pages-style.scss

//* BUS
//----------------------------------------------------*/
.bus {
	width: $sm-width;
	text-align: center;
	.container {
		text-align: left;
		p {
			margin-bottom: 1rem;
			line-height: 1.7;
		}
		span {
			font-weight: bold;
			margin: 0 .5rem;
		}
	}
	.title-group {
		background: $bus-title;
	}
	h2 {
		background: $bus-title;
		font-weight: normal;
		padding: 2rem;
		margin-bottom: 2rem;
	}
	h3 {
		text-align: center;
		font-weight: normal;
		border-bottom: 2px solid $rgb-01;
		margin: 2rem 0;
	}
	.wrapper {
		h3 {
			@include titleH2;
			border-bottom: 3px solid $green;
		}
	}
}

//* KOSUZUME
//----------------------------------------------------*/
.kosuzume {
	width: $sm-width;
	margin-top: 40px;
}

//* KOSUZUME DAIYA
//----------------------------------------------------*/
.diya {
	position: relative;
	display: flex;
	z-index: 1;
	padding: 12rem 0 6rem;
	&::before {
		font-family: Impact;
		font-style: italic;
		content: "365";
		position:absolute;
		color: $bus-year-03;
		line-height: 1;
		z-index: -1;
	}
	h4 {
		text-align: center;
		color: $col-Fa;
		height: 4rem;
		line-height: 1.4;
	}
	article:nth-child(odd) {
		h4 {
			background: $bus-blue;
			border-radius: 2rem 0 0 2rem;
			padding: 1.2rem 0 0;
		}
	}
	article:nth-child(even) {
		h4 {
			background: $bus-navy;
			border-radius: 0 2rem 2rem 0;
			padding: .5rem 0 0;
		}
	}
} //.diya

//* VEHICLE TYPE
//----------------------------------------------------*/
.vehicleType {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	img {
		width: 100%;
	}
	h4 {
		@include Wline;
		background: $green;
		&::before,&::after {
			@include Wline-ba;
		}
		&::before {
			background: #C3D8C7;
		}
		&::after {
			background: #DBC5C9;
		}
	}
	p {
		padding: 1rem 1rem 2rem;
		text-align: left;
		line-height: 1.6;
	}
}

//* VEHICLE LIST
//----------------------------------------------------*/
.vehicleList {
	display: flex;
	flex-wrap: wrap;
	width: $sm-width;
	margin-bottom: 6rem;
	dt,dd {
		border: 1px solid $col-F;
		padding: 1rem .5rem;
		background: $col-F5;
	}
}
