// main: ../pages-style.scss

//* COMPANY
//----------------------------------------------------*/
// 会社概要
.companyHistory,
.overview {
	dl {
		@include comDL;
	}
}

.overview {
	text-align: left;
	width: $sm-width;
	margin: 0 auto;
	dt {
		font-weight: 500;
		border-bottom: 2px solid $rgb-03;
	}
	ul {
		margin-left: 1.5rem;
	}
}
// 営業所<dd
.office {
	h2 {
		font-size: 1rem;
		font-weight: normal;
	}
	p {
		padding: 0 0 1rem 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid $rgb-01;
	}
	p:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

// 代表メッセージ
.ceo-message {
	.wrapper {
		background: rgba(180,190,130,.5);//$green;
		background: $orange-03;
		text-align: center;
		padding: 2rem;
	}
	section {
		// margin: 0 auto;
		// display: flex;
		// width: $main-width;
		width: $sm-width;
	}
	p {
		text-align: left;
		padding: 1rem 2rem;
		line-height: 1.7;
	}
}

// 品質管理の4柱
.ceo-message,.qualityManagement,.basicPrinciple,.companyHistory {
	@include baseWrap;
}

.basicPrinciple,
.qualityManagement {
	h3 {
		@include titleH3;
	}
}
.basicPrinciple,
.qualityManagement {
	article {
		p {
			@include pBox;
		}
	}
}


.qualityManagement {
	h3 {
		// @include titleH3;
		&:before,&:after {
			color: $cyan;
		}
	}
	article {
		p {
			// @include pBox;
			background: $cyan-01;
			&:before {
				font-family: $fontFamilySys;
				font-weight: bold;
				font-size: 3rem;
				position: absolute;
				top: -2.5rem;
				color: $cyan;
			}
		}
		p:nth-of-type(1):before {
			content: "1.";
		}
		p:nth-of-type(2):before {
			content: "2.";
		}
		p:nth-of-type(3):before {
			content: "3.";
		}
		p:nth-of-type(4):before {
			content: "4.";
		}
	}
} // .qualityManagement

// 品質維持の基本理念
.basicPrinciple {
	h3 {
		// @include titleH3;
		&:before,&:after {
			color: $red;
		}
	}
	article {
		p {
			// @include pBox;
			background: $red-01;
		}
	}
} // .basicPrinciple

// 沿革
.companyHistory {
	dt,dd {
		text-align: left;
	}
	dt {
		font-weight: 500;
		border-bottom: 2px solid $blue-04;
	}
} // .companyHistory


// dl {
// 	@include comDL;
// }

// h2 {
// 	@include titleH2;
// 	border-bottom: 3px solid $red-06;
// }
// h2 {
// 	@include titleH2;
// 	border-bottom: 3px solid $blue-06;
// }
