// main: ../pages-style.scss

//* CONTACT FORM AREA
//----------------------------------------------------*/
.contact {
	// text-align: center;
	// padding-bottom: 4rem;
	width: $sm-width;
	input[type=checkbox] {
		margin-left: 2rem;
		// padding-top: .4rem;

		// background: #000;
	 // display: none;
	}

	form {
		margin-bottom: 4rem;
		p {
			text-align: center;
			position: relative;
			display: block;
		}
	}
	dl {
		margin: 4rem 0 0;
		text-align: left;
		// line-height: 1.7;
	}
	// dt,dd {
	// 	margin: 0;
	// 	padding: 0;
	// }
	dt {
		span {
			font-size: .7rem;
			color: #f6f6f6;
			background: #e14c68;
			margin-left: .5rem;
			border: 4px solid #e14c68;
			border-radius: 4px;
			line-height: 1;
		}
	}
}

//* DONE
//--------------------------------------------*/
button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
}

//* FIELD
//--------------------------------------------*/
// input[type=button],
input[type=submit] {
	font-size: 1.1rem;
	background: rgba(40,40,40,1); //#282828;
	text-align: center;
	margin: 0 auto;
	color: $col-Fa;
	width: 98%;
	padding: 1rem 0;
	line-height: 1rem;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background: rgba(40,40,40,.7); //#282828;
		transition-duration: 1s;
	}
}

input[type=tel],
input[type=email],
input[type=text],
textarea {
	width: 98%;
	background: #f2f2f2;
	padding: .5rem;
	border: 4px solid #f2f2f2;
	border-radius: 4px;
}
textarea {
	height: 180px;
}

// input::-webkit-input-placeholder {color: #999;}
// input:-ms-input-placeholder {color: #999;}
// input::-moz-placeholder {color: #999;}
// textarea::-webkit-input-placeholder {color: #999;}
// textarea:-ms-input-placeholder {color: #999;}
// textarea::-moz-placeholder {color: #999;}




//* CONTAINER @media
//----------------------------------------------------*/
@media (max-width:63.99875em) {
	.contact {
		dd {
			margin-bottom: 2rem;
			// margin: 0 0 40px 210px;
		}
	}
}

// Viewport:1024px
@media (min-width:64em) {
	.contact {
		@include main-width;
		dd {
			margin: 0 0 2rem 12rem;
		}
		dt {
			padding-top: .4rem;
			float: left;
		}
		dt:first-child {
			padding-top: 0;
		}
	}
}
