// main: ../pages-style.scss

//* HEADLINE
//----------------------------------------------------*/
.busFront,.shipping,.warehouse,.yokohama,.atsugi,.koga {
	.headline {
		position: relative;
		text-align: left;
		background-size: cover;
		h2 {
			font-weight: normal;
			font-size: 3rem;
			font-size: 2.5rem;
			line-height: 1.7;
		}
	}
}

.warehouse {
	.headline {
		text-align: center;
	}
}

.busFront,
.warehouse,.shipping {
	.headline {
		overflow: hidden;
		mix-blend-mode: hard-light; //ハードライト
		height: 400px;
		color: $col-Fa;
		font-size: 1.2rem;
		h3 {
			font-size: 1.5rem;
			font-weight: normal;
			padding-bottom: .2rem;
			border-bottom: 2px solid $col-Fa;
			display: inline-block;
			margin: 4rem 0 .5rem;
		}
	}
}

.yokohama,.atsugi,.koga {
	.headline {
		height: 500px;
		padding: 2rem 0 0 2rem;
		animation-delay: 1.5s;
		animation: SlideIn 1.5s;
		h2 {
			opacity: 0;
		}
		address {
			opacity: 0;
			background: $col-B1-05;
			font-size: 1.2rem;
			padding: 2rem;
			color: $col-Fa;
			line-height: 1.7;
			position: absolute;
			border: 1px solid $rgb-F6;
		}
	}
}

/* CSSアニメーションの指定 */
.yokohama,.atsugi,.koga {
	.mixB,.mixB4 {
		animation: SlideIn .4s;
	}
	.headline {
		h2 {
			animation-delay: 2s;
			animation: SlideUp 2s;
			animation-fill-mode:forwards;
		}
		address {
			animation-delay: 4s;
			animation: FideIn 1.5s;
			animation-fill-mode:forwards;
		}
	}
}

/* @keyframes */
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes SlideUp {
  0% {
    opacity: 0;
	 transform: translateY(100%);
  }
  50% {
    opacity: 0;
	 transform: translateY(150%);
  }
  100% {
    opacity: 1;
	 transform: translateX(0);
  }
}

@keyframes FideIn {
  0% {
    opacity: 0;
	 transform: translateX(100);
  }
  80% {
    opacity: 0;
	 transform: translateX(100);
  }
  100% {
    opacity: 1;
	 transform: translateX(0);
  }
}

@keyframes SlideCin {
  0% {
	 background: $iceBG;
    transform: translateX(-100%);
  }
  99% {
	background: $iceBG;
  }
  100% {
	 background: $bus-blue-06;
	 transform: translateX(0);
  }
}

.fadeInBB {
	// animation: SlideIn 1s;
	animation: SlideCin 1s;
	animation-fill-mode: both;
}

.fadeInX {
  animation-delay: 8s;
  animation: SlideIn 2s;
  animation-timing-function: ease-in-out;
}

/* @keyframes */
@keyframes Reverse {
  100% {
	 opacity: 0;
    transform: translateX(-100%);
  }
}


// animation-fill-mode:forwards;
// @keyframes txtEffect {
// 	0% {
//      opacity: 0;
//      transform: translateX(-100%);
//    }
//    100% {
//      opacity: 1;
//      transform: translateX(0);
//    }
// }
