// main: ../pages-style.scss

//* JOIN US
//----------------------------------------------------*/
.join {
	.title-group {
		background: rgba(180,190,130,.5);
	}
	h2 {
		background: $bus-title;
		font-weight: normal;
		padding: 2rem;
		margin-bottom: 2rem;
		font-size: 2rem;
	}
}

.us {
	// display: flex;
	// margin: 0 auto;
	section {
		text-align: center;
		p {
			text-align: left;
			padding: 1rem;
		}
	}
	h3 {
	   background: $blue;//#3cb3e4;
	}
}

.working	{
	// display: flex;
	// margin: 0 auto;
	h4 {
		background: $cyan;
			font-size: 1.2rem;
		&::before {
			border-top: 2px solid #DBC5C9;
		}
		&::after {
			border-top: 2px solid #C3D8C7;
		}
	}
	p {
		text-align: left;
	}
}

.recruitment {
	width: 600px;
	max-width: $main-width;
	margin: 0 auto 4rem;
	margin-top: 4rem;
	h3 {
		border-bottom: 2px solid $cyan;
		display: inline-block;
		padding-bottom: .5rem;
	}
	dl {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		margin: 4rem 0;
	}
	dt,dd {
		padding: 1rem;
	}
	dt {
		width: 20%;
		border-bottom: 2px solid $cyan-05;
	}
	dd {
		border-bottom: 1px solid $gray80;
		width: 80%;
	}
}

// }
// 	color: $col-Fa;
// 	font-weight: normal;
// 	line-height: 5;
// 	position: relative;
// 	margin-bottom: 1rem;
// 	&::before,&::after {
// 		position: absolute;
// 		content: "";
// 		width: 50%;
// 		display: block;
// 	}
//    color: $col-Fa;
//    margin-top: .5rem;
//    line-height: 3;
//    display: flex;
// 	border-radius: 2px;
// 	&::before,&::after {
// 		content: '';
// 	   flex: 1;
// 	   padding: 1px 0;
// 	   height: 0;
// 	   transform: rotate(45deg);
// 	}
// 	&::after {
// 		background: #DBC5C9;
// 	}
// 	&::before {
// 		background: #C3D8C7;
// 	}
// 	overflow: hidden;
//    align-items: center;
