// main: ../pages-style.scss

//* JOIN US
//----------------------------------------------------*/
.join {
	// text-align: center;
	// padding-bottom: 4rem;
	.title-group {
		background: rgba(180,190,130,.5);
	}
	h2 {
		background: $bus-title;
		font-weight: normal;
		padding: 2rem;
		margin-bottom: 2rem;
		font-size: 2rem;
	}
}

.us {
	display: flex;
	margin: 0 auto;

	section {
		text-align: center;
		// position: relative;
		z-index: 20;

		p {
			text-align: left;
			padding: 1rem;
		}
		img {
			width: 100%;
		}
	}
	h3 {
		// @include titleH2;
		// font-size: 1.4rem;
		// margin: 2rem auto 1rem;
		// border-bottom: 2px solid $red-08;
		padding: 15px 0;
	   margin: 10px 0;
	   border: solid 3px #3cb3e4;
	   position:relative;
	   text-align: center;
	   border-radius: 3px;
	   background: #fff;
		&::before,&::after {
			content: '';
			position: absolute;
			bottom: -7px;
			background: #3cb3e4;
			border: solid 2px #3cb3e4;
			width: 25px;
			height: 20px;
			z-index: -1;
		}
		&::after {
			left: 2px;
			transform: rotate(120deg);
		}
		&::before {
			right: 2px;
	      transform: rotate(60deg);

		}

	}
}

.working	{
	display: flex;
	margin: 0 auto;
	h4 {
		background: $cyan;
		color: $col-Fa;
		font-weight: normal;
		font-size: 1.2rem;
		line-height: 5;
		position: relative;
		margin-bottom: 1rem;
		&::before,&::after {
			position: absolute;
			content: "";
			width: 50%;
			display: block;
		}
		&::before {
			top: 1rem;
			right: 5%;
			border-top: 2px solid #DBC5C9;
		}
		&::after {
			left: 5%;
			bottom: 1rem;
			border-top: 2px solid #C3D8C7;
		}
	}
	p {
		text-align: left;
	}
}

.recruitment {
	width: 600px;
	max-width: $main-width;
	margin: 0 auto 4rem;
	margin-top: 4rem;
	h3 {
		border-bottom: 2px solid $cyan;
		display: inline-block;
		padding-bottom: .5rem;
	}
	dl {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		margin: 4rem 0;
	}
	dt,dd {
		padding: 1rem;
	}
	dt {
		width: 20%;
		border-bottom: 2px solid $cyan-05;

	}
	dd {
		border-bottom: 1px solid $gray80;
		width: 80%;
	}
}
