// main: ../pages-style.scss

//* JOIN US
//----------------------------------------------------*/
.join {
	// .inpage {
	// 	li:nth-of-type(2) {
	// 		flex-grow: 2;
	// 		margin: 0 1rem;
	// 	}
	// }

	text-align: center;
	padding-bottom: 4rem;
	.title-group {
		background: rgba(180,190,130,.5);
	}
	h2 {
		background: $bus-title;
		font-weight: normal;
		padding: 2rem;
		margin-bottom: 2rem;

		font-size: 2rem;
	}


}

.us {
	display: flex;
	margin: 0 auto;
	section {
		text-align: left;
		p {
			padding: 1rem 2rem;
		}
		img {
			width: 100%;
		}
	}
}
