// main: ../pages-style.scss

//* accessMap
//----------------------------------------------------*/
.accessMap {
	.map {
		width: 70%;
	}
	.route {
		width: 30%;
		background: hsl(0,0%,95%);
		padding: 0 0 1px 1px;
	}
	.flex {
		address {
			background: $col-Fa;
			line-height: 1.7;
		}
	}
	h3 {
		text-align: center;
		padding: 1rem;
	}
	address {
		font-size: 1.4rem;
		padding: 1rem;
		text-align: left;
	}
	div {
		background: $col-F;
		padding: 1rem;

		p {
			text-align: left;
			// padding: 0 1rem;
		}
	}
	svg {
		width: 18px;
		height: 18px;
		margin: 10px 0;
	}
}
