//* FRONT PAGE NEWS
//----------------------------------------------------*/
.newsFront {
	background: url(../img/front-header.png)no-repeat;
	background-position: center bottom;
	background-size: cover;
	display: flex;
	article {
		position: relative;
		text-align: center;
	}
	article:nth-of-type(1) {
		color: $col-Fa;
		// -ms-writing-mode: tb-rl;
		// writing-mode: vertical-rl;
		text-orientation: mixed;
		text-align: left;
		line-height: 2;
		text-shadow: 0 2px 5px #000;
		font-family: $fontFamilyMIN;
		font-weight: 500;
		span {
			-ms-text-combine-horizontal: all;
			-webkit-text-combine: horizontal;
			text-combine-upright: all;
		}
	}
	article:nth-of-type(2) {
		padding-top: 100px;
	}
}
