// main: ../pages-style.scss

//* @media SM
//----------------------------------------------------*/
// @media (min-width:40em) {}//640px
@media (max-width:63.99875em) {
	//* header
	header {
		max-width: 100%;
		height: 140px;
		background-size: auto 120px;
		h1 {
			height: 100px;
			a {
				// border: 1px solid $purple;
				width: 200px;
				height: 95px;
			}
		}
	}
	nav.main-nav {
		ul {
			max-width: 100%;
			font-size: .8rem;
		}
		li {
			display: block;
			width: 50%;
			padding: 0 .5rem;
		}
	}
	.nav-bar {
		ul { display: none; }
	}
	//* Front-Page ONLY FOOTER CLASS
	.frontFoot {
		max-width: 100%;
		padding-top: 1rem;
		h1 {
			font-size: 1rem;
			margin-bottom: 1rem;
			a {
				background-size: 150px;
				padding: 90px 1rem 0;
				&:hover, &:active, &:focus {
					background-size: 150px;
				}
			}
		}
		p {
			font-size: 0.8rem;
			width: 80%;
			margin: 0 auto;
			text-align: left;
		}
		small {
			display: block;
			margin-top: 2rem;
		}
		span {
			display: block;
			padding-bottom: 1rem;
		}
	}

	//* Page-Section.scss
	//----------------------------------------------------*/
	//* FRONT PAGE NEWS
	.newsFront {
		flex-direction: column;
		flex-direction: column-reverse;
		article {
			width: 100%;
		}
		article:nth-of-type(1) {
			color: $col-Fa;
			font-size: 26px;
			p {
				padding: 4rem 2rem;
			}
		}
	}
	//* FRONT PAGE POST
	.postFront {
		article {
			width: 100%;
			padding-top: 1rem;
			margin-bottom: 2rem;
		}
		h2 {
			width: 100%;
		}
		img {
			width: 100%;
		}
	}
	//* FRONT PAGE GREENMARK
	.greenMark {
		width: 100%;
		background-position: right 10px bottom;
		background-size: 200px;
		section {
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			margin-left: 30px;
			// width: auto;
			img {
				// margin-right: 1rem;
				margin-bottom: 2rem;
			}
		}
	}
	.gmark {
		// width: 100%;
		height: 100%;
		background-position: right 10px bottom;
		background-size: 200px;
	}

	//* Company.scss
	//----------------------------------------------------*/
	// 代表メッセージ
	.ceo-message {
		section {
			flex-direction: column;
		}

	}

	.overview,.companyHistory {
		span {
			display: block;
		}
		dl {
			width: 90%;
		}
		dt,dd {
			width: $sm-width;
		}
		dt {
			padding: 2rem 0 0;
		}
	}	//* Company.scss

	//* privacy-policy
	//----------------------------------------------------*/
	.privacy-policy {
		h1 {
			font-size: 2rem;
		}
		h2 {
			font-size: 22px;
		}
		article {
			width: 90%;
			margin: 0 auto;
			h3 {
				font-size: 1.1rem;
			}
			h4 {
				margin: 3rem 0 2rem;
			}
		}
		span {
			display: block;
		}
	}	//* privacy-policy

	//* BUS
	//----------------------------------------------------*/
	.saftyBus {
		margin-top: 4rem;
		img {
			display: block;
			margin: 0 auto;
		}
	} // .saftyBus

	.bus {
		.container {
			p {
				margin: auto 1rem 1rem;
			}
		}
		h2 {
			font-size: 1.3rem;
		}
		h3 {
			font-size: 1.3rem;
		}
		nav {
			ul {
				flex-wrap: wrap;
				flex-direction: column;
				border-bottom: 1px solid $col-cc;
			}
			li {
				border-top: 1px solid $col-cc;
				background: $col-Fa;

				a {
					padding: 2rem 1rem;
				}
			}
		}
	} // .bus

	.kosuzume {
		img {
			width: $sm-width;
		}
	}
	.diya {
		flex-direction: column;
		&::before {
			font-size: 12rem;
			top: -25px;
			right: 24px;
		}
		article {
			width: $sm-width;
			section {
				margin: 2rem 1rem 0;
			}
		}
		article:nth-child(odd) {
			h4 {
				margin-left: .5rem;
			}
		}
		article:nth-child(even) {
			h4 {
				margin-right: .5rem;
			}
		}
	} // .diya

	.vehicleList {
		dt {
			width: 100%;
			font-weight: 500;
			background: $col-F1;
		}
		dd{
			width: 100%;
		}
		dd:nth-child(4n){
			text-align: right;
		}
		dt:nth-of-type(1),dd:nth-of-type(1),dd:nth-of-type(2),dd:nth-of-type(3) {
			display: none;
		}
	}
	.mapbtm {
		margin: 1rem auto 4rem 1rem;
		span {
			display: block;
		}
	}

	//* yokohama
	//----------------------------------------------------*/
	.yokohama,.atsugi {
		.headline {
			background-position: top center;
			height: 320px;
			padding: 2rem 1rem;
			h2 {
				font-weight: normal;
				font-size: 1.6rem;
			}
			address {
				font-size: 1rem;
				padding: 1rem;
				color: $col-Fa;
				line-height: 1.7;
				position: absolute;
				bottom: -1rem;
				left: 1rem;
				right: 1rem;
				border: 1px solid $rgb-F6;
			}
		}
	}

	.buzContent {
		width: $sm-width;
		p {
			padding: 0 1rem;
		}

	}
	.equipment {
		flex-direction: column;
		div {
			width: 100%;
		}
		p {
			padding: 0 1rem;
		}
	}









	.intro {
		padding: 0 1rem;
	}

} //* @media SM
