// main: ../pages-style.scss

//* @media MD 1024
//----------------------------------------------------*/
@media (min-width:64em) {
	//* Common Styles inpage BOK LINK
	//----------------------------------------------------*/
	.inpage {
		li {
			border: 1px solid $col-cc;
			position: relative;
			a {
				padding: 2rem 4rem;
				&:hover {
					@include fina-hover;
				}
				&::before {
					@include fina-before;
				}
				&:hover::before {
					@include fina-hover-before;
				}
			}
		}
	}
	//* VEHICLE TYPE (BUS:YOKOHAMA)
	//----------------------------------------------------*/
	.vehicleType {
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
		max-width: 1300px;
		section {
			width: 32%;
		}
	}	//* VEHICLE TYPE

// .equipment
	// .working	{
	// 	width: 100%;
	// 	max-width: 1300px;
	// 	section {
	// 		width: 24%;
	// 		margin: 2rem 1%;
	// 	}
	// }

	//* Page-Section.scss
	//----------------------------------------------------*/
	.newsFront {
		flex-direction: row;
		article {
			width: 50%;
			text-align: center;
			padding: 4rem 0;
		}
		article:nth-of-type(1) {
			font-size: 2.5rem;
			text-align: left;
			line-height: 2;
			text-shadow: 0 2px 5px #000;
			font-family: $fontFamilyMIN;
			font-weight: 500;
			p {
				text-align: left;
				padding: 5rem 10rem 0;
			}
		}
	} //.newsFront

	//* FRONT PAGE ENTRYS @media MD 1024
	//----------------------------------------------------*/
	.postFront {
		padding-top: $uptoh2;
		article {
			width: $main-width;
			margin: 0 auto 80px;
		}
		img {
			width: 460px;
		}
		h2 {
			margin-top: -$uptoh2;
		}

		//* FRONT PAGE ENTRYS Kisu.1.3 ODD
		//----------------------------------------------------*/
		article:nth-child(odd) {
			z-index: 1;
			&:before {
				z-index: -1;
				left: -500px;
				width: 1000px;
			}
			img {
				margin-right: 10px;
			}
			img:nth-of-type(2) {
				position: absolute;
				top: 10px;
			}
			h2 {
				&:before {
					left: -200%;
					width: 300%;
				}
				&:after {
					width: 100%;
					left: -225%;
					width: 320%;
				}
			}
			section section {
				padding: 1rem 1rem 2rem 0;
			}
		}

		//* FRONT PAGE ENTRYS Gusu.2 EVEN @media MD 1024
		//----------------------------------------------------*/
		article:nth-child(even) {
			text-align: right;
			z-index: 1;
			&:after {
				z-index: -3;
				left: 50%;
				width: 100%;
				display: block;
			}
			h2 {
				&:before {
					width: 1500px;
				}
				&:after {
					left: 1rem;
					width: 320%;
				}
			}
			img:nth-of-type(1) {
				position: absolute;
				left :10px;
				top: 10px;
				// border: 1px solid $red;
			}
			section section {
				text-align: left;
				padding: 1rem 0 2rem 1rem;
				p {
					margin: 0 0 1rem;
				}
			}
		} //even
	}//* FRONT PAGE ENTRYS

	//* FRONT PAGE GREENMARK
	//----------------------------------------------------*/
	// .greenMark {
	// 	max-width: $main-width;
	// 	width: 640px;
	// 	background-position: right top;
	// 	section {
	// 		img {
	// 			margin-right: 1rem;
	// 		}
	// 	}
	// }
	// .gmark {
	// 	background-position: right top;
	// }

	//* Company.scss
	//----------------------------------------------------*/
	.overview,.qualityManagement,.basicPrinciple,.companyHistory {
		width: $main-width;
	}
	// 代表メッセージ
	// .ceo-message {
	// 	display: flex;
	// 	text-align: left;
	// 	width: $main-width;
	// 	margin: 0 auto;
	// }

	.overview {
		width: $main-width;
		dl {
			width: 70%;
		}
		dt,dd {
			padding: 1rem 0 1rem 1rem;
		}
		dt {
			width: 20%;
			font-weight: 500;
		}
		dd {
			width: 80%;
			border-bottom: 1px solid $rgb-01;
		}
	}
	.companyHistory {
		dl {
			width: 70%;
		}
		dt,dd {
			padding: 1rem 0 1rem 1rem;
		}
		dt {
			width: 30%;
			font-weight: 500;
		}
		dd {
			width: 70%;
			border-bottom: 1px solid $blue-02;
		}
	}
	//* .privacy-policy
	//----------------------------------------------------*/
	.privacy-policy {
		section {
			width: $main-width;
			margin: 0 auto;
		}
		article {
			section {
				section {
					padding: 0 0 2rem 2rem;
					p {
						margin: 0 0 0 1rem;
					}
				}
			}
			h3 {
				letter-spacing: .2em;
			}
			h4 {
				margin: 1rem 0;
			}
			p {
				margin: 0 0 2rem 2rem;
			}
			ul {
				// margin: 0;
				padding-left: 2.5rem;
			}
		}
	}
	//* BUS
	//----------------------------------------------------*/
	.saftyBus {
	 text-align: center;
	 margin-top: 4rem;
	}
	.bus {
		h2 {
			font-size: 2rem;
		}
		h3 {
			font-size: 1.6rem;
		}
		nav {
			li {
				border: 1px solid $col-cc;
				position: relative;
				a {
					padding: 2rem 4rem;
					// @include fina;
					&:hover {
						@include fina-hover;
					}
					&::before {
						@include fina-before;
					}
					&:hover::before {
						@include fina-hover-before;
					}
				}
			}
		}
	}	//* BUS

	//* KOSUZUME
	//----------------------------------------------------*/
	.kosuzume {
		img:nth-of-type(1) {
			display: none;
		}
		width: $main-width;
		background: url(../img/bus/01-kosuzume.jpg)no-repeat;
		background-size: 160%;
		background-position: left -110px top -330px;
		padding-top: 480px;
		border-radius: 24px;
		margin-top: 40px;
		img {
			width: (940px / 2);
			border-top: 1px solid white;
			border-radius: 24px;
		}
		img:nth-child(even) {border-radius: 0 0 0 24px;}
		img:nth-child(odd) {border-radius: 0 0 24px;}
	}

	//* KOSUZUME DAIYA
	//----------------------------------------------------*/
	.diya {
		&::before {
			font-size: 24rem;
			top: -45px;
			right: 4rem;
		}
		article {
			width: 50%;
			section {
				margin: 2rem 2rem 0 2rem;
				padding-left: 1rem;
			}
		}
		article:nth-child(odd) {
			margin-right: .5rem;
			section {
				border-left: 2px solid $bus-blue;
			}
		}
		article:nth-child(even) {
			margin-left: .5rem;
			section {
				border-left: 2px solid $bus-navy;
			}
		}
	} //.diya

	//* VEHICLE TYPE
	//----------------------------------------------------*/
	// .vehicleType {
	// 	justify-content: space-between;
	// 	width: 90%;
	// 	margin: 0 auto;
	// 	max-width: 1300px;
	// 	section {
	// 		width: 32%;
	// 	}
	// }	//* VEHICLE TYPE

	//* VEHICLE LIST
	//----------------------------------------------------*/
	.vehicleList {
		dt,dd {
			border: 1px solid $col-F;
			padding: 1rem .5rem;
			background: $col-F5;
		}
		dt {
			width: 25%;
		}
		dd {
			width: 30%;
		}
		dd:nth-child(4n) {
			width: 15%;
		}
	}
	.mapbtm {
		width: $main-width;
		margin: 1rem auto 4rem;
		span {
			margin-right: 1rem;
		}
	}
	//* yokohama
	//----------------------------------------------------*/
	.yokohama,.atsugi,.koga {
		.headline {
			background-position: center center;
		}
		address {
			bottom: -1.5rem;
			right: 1rem;
		}
	}
	.buzContent {
		width: $main-width;
	}
	// .equipment {
	// 	flex-wrap: wrap;
	// 	justify-content: space-between;
	// 	div {
	// 		width: 32%;
	// 	}
	// }
	//* ATSUGI
	//----------------------------------------------------*/
	.atsugi {
		img {
			height: 350px;
		}
	}

	.atsugi-photo {
		margin-top: 4rem;
		article {
			width: 80%;
		}
		article:nth-child(odd) {
			margin: 0 auto 1rem 0;
		}

		article:nth-child(even) {
			margin: 0 0 1rem auto;
		}
	}
	//* JOIN
	//----------------------------------------------------*/
	.join {
		.inpage {
			li:nth-of-type(2) {
				flex-grow: 2;
				margin: 0 1rem;
			}
		}
	}
	.us {
		width: 90%;
		max-width: 1300px;
		section {
			// width: 32%;
			width: 32%;
			margin: 0 1% 2rem;
		}
	}
	.working	{
		width: 100%;
		max-width: 1300px;
		section {
			width: 24%;
			margin: 2rem 1%;
		}
	}



} //@media MD 1024

//* @media LG 1200
//----------------------------------------------------*/
// @media (min-width:75em) {}
