// main: ../pages-style.scss

/* HEADER
----------------------------------------------------*/
header {
	position: relative;
	background: $col-00 url(../img/logo-onwhite.png)no-repeat;
	background-position: center center;
	background-size: auto 180px;
	height: 180px;
	text-align: center;
	color: $col-Fa;
	// margin: 0;
	// padding: 0;
	h1 {
		height: 140px;
		line-height: 1;
		a {
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			margin: 0 auto;
			width: 240px;
			height: 135px;
			&:hover, &:active, &:focus {
				background: #aaa;
				background-size: auto 180px;
				mix-blend-mode: multiply;
			}
		}
	}
	nav {
		ul {
			list-style: none;
			text-transform: uppercase;
			font-size: 1.2rem;
			height: 40px;
			display: flex;
			justify-content: center;
		}
		li {
			padding: 0 1rem;
		}
		a {
			color: $col-Fa;

			&:hover, &:active, &:focus {
				color: $col-66;
				text-decoration: none;
			}
		}
	}
}

//* Front-Page ONLY FOOTER CLASS
//----------------------------------------------------*/
.frontFoot {
	padding-top: 2rem;
	h1 {
		font-size: 1.4rem;
		margin-bottom: 1rem;
		a {
			background: url(../img/logo.png)no-repeat;
			background-position: center top;
			background-size: 200px;
			display: inline-block;
			width: auto;
			color: $col-F5;
			padding-top: 130px;
			&:hover, &:active, &:focus {
				background: url(../img/logo-onwhite.png)no-repeat;
				background-position: center top;
				background-size: 200px;
				color: $col-aa;
				text-decoration: none;
			}
		}
	}
	small {
		display: block;
		margin-top: 4rem;
	}
}
