// main: ../pages-style.scss

/* HEADER
----------------------------------------------------*/
header {
	position: relative;
	background: $col-00 url(../img/logo-onwhite.png)no-repeat;
	background-position: center center;
	background-size: auto 180px;
	height: 180px;
	text-align: center;
	color: $col-Fa;
	h1 {
		height: 140px;
		line-height: 1;
		a {
			text-indent: $sm-width;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			margin: 0 auto;
			width: 240px;
			height: 135px;
			// &:hover, &:active, &:focus {
			// 	background: #aaa;
			// 	background-size: auto 180px;
			// 	mix-blend-mode: multiply;
			// }
		}
	}
}

/* FIRST VISUAL NAV
----------------------------------------------------*/
nav.main-nav {
	position: relative;
	z-index: 10;
	ul {
		list-style: none;
		text-transform: uppercase;
		font-size: 1.2rem;
		height: 40px;
		display: flex;
		justify-content: center;
	}
	li {
		padding: 0 1rem;
	}
}
/* 2ND NAV BAR
----------------------------------------------------*/
.nav-bar {
	background-color: rgba(0, 0, 0, 0.9);
	position: relative;
	display: none;
	height: 60px;
	h1 {
		background: url(../img/logo-onwhite.png)no-repeat;
		background-position: center left;
		width: 290px;
		height: 60px;
		text-indent: $sm-width;
      white-space: nowrap;
      overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		a {
			display: block;
			width: 290px;
			height: 60px;
			// &:hover, &:active, &:focus {
			// 	background: url(../img/logo-transparent.png)no-repeat;
			// 	background-position: center center;
			// }
		}
	}
	ul {
		list-style: none;
		font-size: 1.2rem;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	li {
		padding: 0 1rem;
	}
	a {
		color: $col-Fa;
		// &:hover, &:active, &:focus {
		// 	color: $col-66;
		// 	text-decoration: none;
		// }
	}
}

//* Front-Page ONLY FOOTER CLASS
//----------------------------------------------------*/
.frontFoot {
	padding-top: 2rem;
	h1 {
		font-size: 1.4rem;
		margin-bottom: 1rem;
		a {
			background: url(../img/logo.png)no-repeat;
			background-position: center top;
			background-size: 200px;
			display: inline-block;
			width: auto;
			color: $col-F5;
			padding-top: 130px;
			// &:hover, &:active, &:focus {
			// 	background: url(../img/logo-onwhite.png)no-repeat;
			// 	background-position: center top;
			// 	background-size: 200px;
			// 	color: $col-aa;
			// 	text-decoration: none;
			// }
		}
	}
	small {
		display: block;
		margin-top: 4rem;
	}
}


//* pages-base ANCHOR
//----------------------------------------------------*/
@media (min-width:64em) {
	/* HEADER
	----------------------------------------------------*/
	header {
		h1 {
			a {
				&:hover, &:active, &:focus {
					background: #aaa;
					background-size: auto 180px;
					mix-blend-mode: multiply;
				}
			}
		}
	}

	/* 2ND NAV BAR
	----------------------------------------------------*/
	.nav-bar {
		h1 {
			a {
				&:hover, &:active, &:focus {
					background: url(../img/logo-transparent.png)no-repeat;
					background-position: center center;
				}
			}
		}
		a {
			&:hover, &:active, &:focus {
				color: $col-66;
				text-decoration: none;
			}
		}
	}

	//* Front-Page ONLY FOOTER CLASS
	//----------------------------------------------------*/
	.frontFoot {
		h1 {
			a {
				&:hover, &:active, &:focus {
					background: url(../img/logo-onwhite.png)no-repeat;
					background-position: center top;
					background-size: 200px;
					color: $col-aa;
					text-decoration: none;
				}
			}
		}
	}

}
