// main: ../pages-style.scss

//* FRONT PAGE NEWS
//----------------------------------------------------*/
.newsFront {
	background: url(../img/front-header.png)no-repeat;
	background-position: center bottom;
	background-size: cover;
	display: flex;
	article {
		position: relative;
		text-align: center;
	}
	article:nth-of-type(1) {
		color: $col-Fa;
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		text-align: left;
		line-height: 2;
		text-shadow: 0 2px 5px #000;
		font-family: $fontFamilyMIN;
		font-weight: 500;
		span {
			-ms-text-combine-horizontal: all;
			-webkit-text-combine: horizontal;
			text-combine-upright: all;
		}
	}
}

//* FRONT PAGE ENTRYS
//----------------------------------------------------*/
$uptoh2:40px;

.postFront {
	margin-top: 80px;
	padding-top: $uptoh2;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	article {
		@extend .wf5;
		width: 100%;
		position: relative;
	}
	img {
		width: 460px;
	}
	h2 {
		font-family: $fontFamilyMIN;
		font-weight: 500;
		background: rgba(255,255,255,.8);
		margin-bottom: 1rem;
		display: inline-block;
		padding: 1rem;
		position: relative;
		margin-top: -$uptoh2;
	}
	section section {
		p {
			margin: 0 0 1rem;
		}
	}


	//* FRONT PAGE ENTRYS Kisu.1.3 ODD
	//----------------------------------------------------*/
	article:nth-child(odd) {
		z-index: 1;
		&:before {
			content: " ";
			@extend .wf5;
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: -500px;
			width: 1000px;
		}
		img {
			margin-right: 10px;
			// width: 460px;
		}
		img:nth-of-type(2) {
			position: absolute;
			top: 10px;
		}

		h2 {
			&:before {
				position: absolute;
				content: " ";
				background: $col-F;
				background: rgba(255,255,255,.8);
				z-index: -1;
				top: 0;
				bottom: 0;
				// left: -200%;
				// width: 200%;
				left: -200%;
				width: 300%;
				box-shadow: -2px -1px 2px rgba(40,40,40,.2);
			}
			&:after {
				position: absolute;
				content: " ";
				border-top: 1px solid $col-33;
				width: 100%;
				height: 1px;
				display: block;
				left: -225%;
				width: 320%;
			}
		}
		section section {
			padding: 1rem 1rem 2rem 0;
		}
	}

	//* FRONT PAGE ENTRYS Gusu.2 EVEN
	//----------------------------------------------------*/
	article:nth-child(even) {
		text-align: right;
		z-index: 1;
		&:after {
			content: " ";
			@extend .wf5;
			position: absolute;
			z-index: -3;
			top: 0;
			bottom: 0;
			left: 50%;
			width: 100%;
			display: block;
		}
		h2 {
			&:before {
				position: absolute;
				content: " ";
				background: rgba(255,255,255,.8);
				// background: $col-dd;
				z-index: -1;
				top: 0;
				left: 0;
				bottom: 0;
				// left: -200%;
				// width: 200%;
				width: 1500px;
				box-shadow: -2px -1px 2px rgba(40,40,40,.2);
			}
			&:after {
				position: absolute;
				content: " ";
				background: #ddd;
				border-top: 1px solid $col-33;
				width: 100%;
				height: 1px;
				display: block;
				left: 1rem;
				width: 320%;
			}
		}
		img:nth-of-type(1) {
			position: absolute;
			left :10px;
			top: 10px;
			// border: 1px solid $red;
		}

		section section {
			text-align: left;
			padding: 1rem 0 2rem 1rem;
			p {
				margin: 0 0 1rem;
			}
		}
	} //even
}//* FRONT PAGE ENTRYS


//* @media SM
//----------------------------------------------------*/
@media (max-width:63em) {
	//* FRONT PAGE NEWS
	.newsFront {
		flex-direction: column;
		flex-direction: column-reverse;
		article {
			width: 100%;
		}

		article:nth-of-type(1) {
			color: $col-Fa;
			font-size: 26px;

			p {
				padding: 4rem 2rem;
			}


		}

	}


}
//* @media MD 1024
//----------------------------------------------------*/
@media (min-width:64em) {
	.newsFront {
		flex-direction: row;
		article {
			width: 50%;
			text-align: center;
			padding: 4rem 0;
		}
		article:nth-of-type(1) {
			font-size: 2.5rem;
			text-align: left;
			line-height: 2;
			text-shadow: 0 2px 5px #000;
			font-family: $fontFamilyMIN;
			font-weight: 500;
			p {
				text-align: left;
				padding: 5rem 10rem 0;
				// position: absolute;
				// right: 150px;
				// top: 90px;
			}
		}
	} //.newsFront

	.postFront {
		article {
			width: 940px;
			margin: 0 auto 80px;

		}

	}



}
