// main: ../pages-style.scss

//* @media MD 1024
//----------------------------------------------------*/
@media (min-width:64em) {
// JOIN
	.recruitment {
		width: 600px;
		max-width: $main-width;
		// margin: 0 auto 4rem;
		// margin-top: 4rem;
	}
// NEWS
.news {
	img {
		max-width: 755px;
		height: auto;
	}
}

.ceo-message {
	section {
		width: $main-width;
		// width: $sm-width;
	}
}

// FRONT
	.warehouse,
	.salesOffice {
		// text-align: center;
		// margin-top: 4rem;
		.flex {
			margin: 0 auto;
			max-width: 1300px;
			justify-content: center;
			flex-wrap: wrap;
			article {
				// width: 30%;
				margin: 0 1% 2rem;
			}
		}
	}
	.salesOffice {
		article {
			width: 30%;
			// margin: 0 1% 2rem;
		}
	}
	.warehouse {
		article {
			width: 45%;
			// margin: 0 1% 2rem;
		}

	}

.greenSafety {
	width: $main-width;
	.flex {
		justify-content:space-between;
		section {
			width: 32%;
		}
	}
}


.joinFront {
	text-align: center;
	margin: 0 auto;
	width: $main-width;
	position: relative;
	div {
		position: relative;
		margin: -4rem 0 0 -2rem;
		p {
			display: none;
		}
		&::before,&::after {
			position: absolute;
			content: '';
			display: block;
			width: 400px;
			height: 400px;
			border-radius: 50%;
			background-size: cover;
		}
		&::before {
			background: url(../img/person-m.png)no-repeat;
			left: 150px;
			top: 80px;
		}
		&::after {
			background: url(../img/person-f.png)no-repeat;
			left: 0px;
			top: 0px;
		}
	}
	section {
		border-radius: 50%;
		background: rgba(255,255,255,.8);
		margin-left: 440px;
		padding: 4rem 0 4rem 4rem;
		// position: relative;
		// display: inline-block;
		// z-index: 1;
		// text-align: left;
		// p {
		// 	font-size: 1.2em;
		// 	line-height: 1.7;
		// 	margin-bottom: 1rem;
		// }
	}
}



} //* @media MD 1024


//* @media MD 1200
//----------------------------------------------------*/
@media (min-width:75em) {



}
