// main: ../site-style.scss
// main: ../pages-style.scss
// main: ./Rewrite.scss

//* @media SM
//----------------------------------------------------*/
// @media (min-width:40em) {}//640px
@media (max-width:63.99875em) {
	img {
		max-width: $sm-width;
	}
	//* header-SHARE
	//* FOOTER
	footer {
		min-height: 240px;
		padding-top: 1rem;
		h2 {
			font-size: 1rem;
			margin-bottom: 1rem;
			a {
				background-size: 150px;
				padding: 90px 1rem 0;
			}
		}
		address {
			margin-bottom: 1rem;
		}
		span {
			display: block;
			padding-bottom: 1rem;
		}
	} //* FOOTER

	//* contactUs
	.contactUs {
		padding: 1rem 1rem 0;
		h3 {
			font-size: 1rem;
			font-weight: normal;
			padding-bottom: .8rem;
			border-bottom: 1px solid $col-Fa;
		}
		div {
			border: none;
			padding: 0;
			justify-content: space-between;
		}
		svg {
			width: 50px;
		}
		address {
			font-size: 24px;
			margin: 0 .5rem;
			white-space: nowrap;
		}
	} //contactUs
	.buzContent {
		width: $sm-width;
		p {
			padding: 0 1rem;
		}
	}

} //* @media SM



//* share-base ANCHOR
//----------------------------------------------------*/
@media (min-width:64em) {
	a[href^="tel:"]{
    pointer-events: none;
	}

	//* ANCHOR
	a {
		&:hover, &:active, &:focus {
			color: $hover-color;
			transition-duration: 1s;
		}
	}

	//* HEADER
	header {
		h1 {
			a {
				&:hover, &:active, &:focus {
					background: #aaa;
					background-size: auto 180px;
					mix-blend-mode: multiply;
				}
			}
		}
	}

	//* DRAWER + MAIN NAV SHARE STYLE
	nav {
		a {
			&:hover, &:active, &:focus {
				color: $col-66;
				text-decoration: none;
			}
		}
	}
	a:hover.drawer-brand {
		background-color: rgba(0, 0, 0, 0.6);
		background-blend-mode: darken;
	}

	//* 2ND NAV BAR
	.nav-bar {
		h1 {
			a {
				&:hover, &:active, &:focus {
					background: url(../img/logo-transparent.png)no-repeat;
					background-position: center center;
				}
			}
		}
		a {
			&:hover, &:active, &:focus {
				color: $col-66;
				text-decoration: none;
			}
		}
	}
	//* FOOTER
	footer {
		height: 350px;
		h2 {
			a {
				&:hover, &:active, &:focus {
					background: url(../img/logo-onwhite.png)no-repeat;
					background-position: center top;
					background-size: 200px;
					color: $col-aa;
					// color: #4A4A4A;
					text-decoration: none;
				}
			}
		}
		address {
			margin-bottom: 4rem;
		}
	}
	//* contactUs
	.contactUs {
		width: 940px;
		svg {
			width: 70px;
			height: 70px;
		}
		h3 {
			display: block;
			margin: 0 auto -0.5em;
			width: 40%;
			z-index:10;
			position: relative;
			padding: 0 1rem;
		}
		div {
			z-index:1;
			position: static;
			padding: 2rem;
		}
	}
	//* buzContent
	.buzContent {
		width: $main-width;
	}

}
