// main: ../pages-style.scss

//* @media SM
//----------------------------------------------------*/
@media (max-width:63em) {
	.yokohama {
		.headline {
			background-position: top center;
			height: 320px;
			padding: 2rem 1rem;
			h2 {
				font-weight: normal;
				font-size: 1.6rem;
			}
			address {
				// background: $col-B1-07;
				font-size: 1rem;
				padding: 1rem;
				color: $col-Fa;
				line-height: 1.7;
				position: absolute;
				// position: relative;
				bottom: -1rem;
				left: 1rem;
				right: 1rem;
				// border: 1px solid $col-B1-09;
				// border: 1px solid $col-Fa;
				border: 1px solid $rgb-F6;
			}
		}
	}



.buzContent {
	width: $sm-width;
	p {
		padding: 0 1rem;
	}

}
.equipment {
	flex-direction: column;
	div {
		width: 100%;
	}
	p {
		padding: 0 1rem;
	}

}






} //* @media SM
