// main: ../pages-style.scss

//* TRANSPORT move in Front
//----------------------------------------------------*/
.transport {
	.buscon {
		padding: 0 1rem;
		h3 {
			text-align: left;
			padding-bottom: .5rem;
			border-bottom: 1px solid $blue;
			margin-bottom: .5rem;
			font-size: 1rem;
		}
		ul {
			list-style: none;
			text-align: left;
			margin: 0 0 2rem;
			line-height: 1.7;
		}
	}
}
.salesOffice {
	h4 {
		text-align: left;
		padding-bottom: .5rem;
		border-bottom: 1px solid $blue;
		margin-bottom: .5rem;
		font-size: 1rem;
	}
	.flex {
		ul {
			margin: 0;
			list-style: none;
			text-align: left;
			line-height: 1.7;
			// padding: 0;
		}
	}
}



@media (max-width:63.99875em) {
	.buscon {
		// border: 1px solid pink;
		h3 {
			border-bottom: 1px solid $blue;
			// text-align: left;
			// padding-bottom: .5rem;
			// margin-bottom: .5rem;
		}
	}
}

// justify-content: center;
@media (min-width:64em) {
	.buscon {
		margin: 5rem auto 0;
		display: flex;
		justify-content:center;
		width: 80%;
		max-width: 1300px;
		article {
			padding: 0 2rem;
		}
		// ul {
		// 	// border: 1px solid pink;
		// 	// margin: 0;
		// 	// padding: 0;
		// 	// border-left: 4px solid rgba(132,160,198,.2);
		// 	// padding-left: 1rem;
		// 	// background: $blue;
		// }
		// li {
		// 	padding: 0;
		// 	margin: 0;
		// }
	}

}


	// .transport {
	// 	.flex {
	// 		flex-wrap: wrap;
	// 		flex-direction: column;
	//
	//
	//
	// 		ul {
	// 			list-style: none;
	// 		}
	// 	}
	// }

.shipping {
	.headline {
		padding: 3rem 0 0 6rem;
		background: url(../img/4266221_m.jpg)no-repeat;
		background-position: center center;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background: rgba(250,250,250,.2);
			background: $rgb-04;
			display: block;
			width: 600px;
			height: 600px;
			transform: rotate(55deg);
			z-index:-1;
		}
	}
	ul {
		margin-left: 1.5rem;
	}
}

.salesOffice {
	text-align: center;
	margin-top: 4rem;
	.flex {
		// margin: 0 auto;
		// max-width: 1300px;
		// justify-content: center;
		// flex-wrap: wrap;
		article {
			// width: 30%;
			// margin: 0 1% 2rem;
			a {
				display: block;
				max-width: $sm-width;
				overflow: hidden;
			}
		}
		p {
			text-align: left;
			line-height: 1.7;
			margin-bottom: 1rem;
		}
	}
}



.warehouse {
	.headline {
		// background: url(../img/302502_m.jpg)no-repeat;
		background: url(../img/mono3.png)no-repeat;
		background-position: center center;
		text-align: center;
		padding-top: 6rem;
		&::after {
			content: '';
			position: absolute;
			left: 35%;
			top: -400px;
			background: rgba(250,250,250,.2);
			background: $rgb-03;
			display: block;
			width: 500px;
			height: 1200px;
			transform: rotate(45deg);
			z-index:-1;
		}
	}
	.flex {
		// margin: 3rem auto;
		// max-width: 1300px;
		// justify-content: center;
		// flex-wrap: wrap;
		// article {
		// 	width: 45%;
		// 	margin: 0 1% 2rem;
		// }
		img {
			width: $sm-width;
			height: 350px;
		}
		p {
			text-align: left;
		}
	}
}

//* TRANSPORT ANCHOR
//----------------------------------------------------*/
@media (min-width:64em) {
	.salesOffice {
		.flex {
			article {
				a {
					&:hover, &:active, &:focus {
						img {
							opacity: .8;
							transform: perspective(50px) scaleZ(1.1) rotateY(10deg);
							transform-origin : 50% 50%;
							transition-duration: .4s;
						}
						h3 {
							&::before,&::after {
								transition-duration: .5s;
								width: 95%;
							}
						}
					}
				}
			}
		}
	}

}


// background: url(../img/mono4.png)no-repeat;
// background: url(../img/595023_m.jpg)no-repeat;
// background: url(../img/blog-head-full.png)no-repeat;
// &:hover, &:active, &:focus {
	// img {
	// 	opacity: .8;
	// 	transform: perspective(50px) scaleZ(1.1) rotateY(10deg);
	// 	transform-origin : 50% 50%;
	// 	transition-duration: .4s;
	// }
	// h3 {
	// 	&::before,&::after {
	// 		transition-duration: .5s;
	// 		width: 95%;
	// 	}
	// }
// }
// .warehouse,.shipping {
// 	.headline {
// 		position: relative;
// 		overflow: hidden;
// 		mix-blend-mode: hard-light; //ハードライト
// 		height: 400px;
// 		color: $col-Fa;
// 		font-size: 1.2rem;
// 		h3 {
// 			font-size: 1.5rem;
// 			font-weight: normal;
// 			margin: 4rem 0 .5rem;
// 			padding-bottom: .2rem;
// 			border-bottom: 2px solid $col-Fa;
// 			display: inline-block;
// 		}
// 	}
// }


// background-size: cover;
// background-position: center top 75%;
// mix-blend-mode: hard-light; //ハードライト
// mix-blend-mode: luminosity; //輝度

// h3 {
// 	background: $rgb-08;
// 	color: $col-Fa;
// 	font-weight: normal;
// 	line-height: 5;
// 	position: relative;
// 	margin-bottom: 1rem;
// 	&::before,&::after {
// 		position: absolute;
// 		content: '';
// 		width: 50%;
// 		display: block;
// 	}
// 	&::before {
// 		top: 1rem;
// 		right: 5%;
// 		border-top: 2px solid $orange;
// 	}
// 	&::after {
// 		left: 5%;
// 		bottom: 1rem;
// 		border-top: 2px solid $green;
// 	}
// }

// background: $rgb-08;
// color: $col-Fa;
// font-weight: normal;
// line-height: 5;
// position: relative;
// margin-bottom: 1rem;
// &::before,&::after {
// 	position: absolute;
// 	content: "";
// 	width: 50%;
// 	display: block;
// }
