// main: ../pages-style.scss

//* YOKOHAMA
//----------------------------------------------------*/
.yokohama {
	.headline {
		background: url(../img/yokohama/yokohama-03.jpg)no-repeat;
		background-size: cover;
		mix-blend-mode: hard-light;
	}
	.wrapper {
		h2 {
			@include titleH2;
			border-bottom: 3px solid $cyan-06;
		}
	}
	.vehicleType {
		h4 {
			@include Wline;
			background: $rgb-09;
			&::before,&::after {
				@include Wline-ba;
			}
			&::before {
				background: #C3D8C7;
			}
			&::after {
				background: #DBC5C9;
			}
		}
	}
}

.equipment {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	width: 90%;
	max-width: 1300px;
	margin-bottom: 4rem;
	section {
		width: 24%;
		padding-bottom: 2rem;
	}
	h4 {
		background: $rgb-08;
		color: $col-Fa;
		padding: .5rem;
		margin: 4px 0 4px;
	}
	p {
		text-align: left;
	}
	img {
		width: 100%;
	}
}



// .addr {
// 	background: $col-B1-04;
// }
