// main: ../pages-style.scss

//* YOKOHAMA
//----------------------------------------------------*/

.yokohama,.atsugi {
	.headline {
		position: relative;
		// background: url(../img/yokohama/yokohama-03.jpg)no-repeat;
		// background-size: cover;
		height: 500px;
		// mix-blend-mode: hard-light;
		text-align: left;
		padding: 2rem 0 0 2rem;
		h2 {
			font-weight: normal;
			font-size: 3rem;
			line-height: 1.7;
		}
		address {
			background: $col-B1-05;
			font-size: 1.2rem;
			padding: 2rem;
			color: $col-Fa;
			line-height: 1.7;
			position: absolute;
			border: 1px solid $rgb-F6;
		}
	}
}


.yokohama {
	text-align: center;
	padding-bottom: 4rem;
	.vehicleType {
		h4 {
			background: $rgb-09;
		}
	}
	.headline {
		background: url(../img/yokohama/yokohama-03.jpg)no-repeat;
		background-size: cover;
		mix-blend-mode: hard-light;
	}
}
.addr {
	background: $col-B1-04;
}

.equipment {
	width: 100%;
	display: flex;
	div {
		padding-bottom: 1rem;
		h4 {
			background: $rgb-08;
			color: $col-Fa;
			padding: .5rem;
			margin: 4px 0 4px;
		}
		p {
			text-align: left;
		}
	}
	img {
		width: 100%;
		display: block;
	}
}
