// main: ./pages-style.scss
// main: ./blog-style.scss

//* @media SM ==== @import "Pages/site-media";
//----------------------------------------------------*/
// @media (min-width:40em) {}//640px
@media (max-width:63.99875em) {
	img {
		max-width: $sm-width;
	}
	//* header-SHARE
	//* FOOTER
	footer {
		min-height: 240px;
		padding-top: 1rem;
		h2 {
			font-size: 1rem;
			margin-bottom: 1rem;
			a {
				background-size: 150px;
				padding: 90px 1rem 0;
				// &:hover, &:active, &:focus {
				// 	background-size: 150px;
				// 	color: $col-aa;
				// 	text-decoration: none;
				// }
			}
		}
		address {
			margin-bottom: 1rem;
		}
		span {
			display: block;
			padding-bottom: 1rem;
		}
	} //* FOOTER


	//* contactUs
	.contactUs {
		padding: 1rem 1rem 0;
		h3 {
			font-size: 1rem;
			font-weight: normal;
			padding-bottom: .8rem;
			border-bottom: 1px solid $col-Fa;
		}
		div {
			border: none;
			padding: 0;
			justify-content: space-between;
		}
		svg {
			width: 50px;
		}
		// .atto {
		// 	&:hover, &:active, &:focus {
		// 		height: 50px;
		// 	}
		// }
		address {
			font-size: 24px;
			margin: 0 .5rem;
			white-space: nowrap;
		}
	} //contactUs
} //* @media SM


//* @media MD 1024
//----------------------------------------------------*/
@media (min-width:64em) {
	a[href^="tel:"]{
    pointer-events: none;
	}
	footer {
		height: 350px;
		address {
			margin-bottom: 4rem;
		}
	}

	.contactUs {
		width: 940px;
		svg {
			width: 70px;
			height: 70px;
			// width: 110px;
			// height: 110px;
			// fill: $purple;
		}
		h3 {
			display: block;
			margin: 0 auto -0.5em;
			width: 40%;
			z-index:10;
			position: relative;
			padding: 0 1rem;
		}
		div {
			z-index:1;
			position: static;
			padding: 2rem;
		}
	}
	#bus {
		svg {
			width: 85px;
			height: 85px;
		}
		.phone {
			width: 120px;
			height: auto;
		}
	}
} //@media MD 1024

//* @media LG 1200
//----------------------------------------------------*/
// @media (min-width:75em) {}
