// main: ./pages-style.scss
// main: ./blog-style.scss

//* Double Diagonal W Line Heading
//----------------------------------------------------*/
// .working h4,
.warehouse .flex h3,
.salesOffice h3 {
	color: $col-Fa;
	font-weight: normal;
	line-height: 5;
	position: relative;
	margin-bottom: 1rem;
	&::before,&::after {
		position: absolute;
		content: '';
		width: 50%;
		display: block;
	}
	&::before {
		top: 1rem;
		right: 5%;
	}
	&::after {
		left: 5%;
		bottom: 1rem;
	}
}

.salesOffice,.warehouse {
	.flex {
		h3 {
			background: $rgb-08;
			&::before {
				border-top: 2px solid $orange;
			}
			&::after {
				border-top: 2px solid $green;
			}
		}
	}
}


//* IMG W 100
//----------------------------------------------------*/
.warehouse .flex,
.salesOffice {
	img {
		width: $sm-width;
	}
}

//* @include titleH2;
//----------------------------------------------------*/
.joinFront h2,
.salesOffice h2,
.buzContent h2,
.greenSafety h2,
.bus .wrapper h3 {
	@include titleH2;
}

.buzContent,
.salesOffice {
	h2 {
		// @include titleH2;
		border-bottom: 3px solid $cyan-06;
	}
}

.joinFront {
	h2 {
		// @include titleH2;
		border-bottom: 3px solid $red-06;
	}
}
